#wdm-edwiserreports {
    #certificatestatsblock {
        .panel-body {
            min-height: 250px;
        }
    }
}

#wdm-certificates-individual {
    .table {
        .pie-progress {
            width: 40px;
            margin: auto;
        }
    }
}
