/* stylelint-disable declaration-no-important */
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.clearfix {
    clear: both;
}
.badge-success {
    background-color: #11c26d;
}
.badge-danger {
    background-color: #ff4c52;
}
.badge-warning {
    background-color: #eb6709;
}
.overflow-scroll {
    overflow: scroll;
}
.text-decoration-none {
    text-decoration: none;
}
.text-gold {
    color: #fdd703;
    font-size: 24px;
}
.text-silver {
    color: #bfc0bf;
    font-size: 20px;
}
.text-bronze {
    color: #cd7e33;
    font-size: 16px;
}
.bg-image-none {
    background-image: none;
}
.no-sorting-arrow {
    &:before {
        display: none;
    }
    &:after {
        display: none;
    }
}
.input-group-addon {
    font-weight: 300;
    padding: .429rem .729rem;
    color: #76838f;
    text-align: center;
    background-color: #e4eaec;
    border: 1px solid #e4eaec;
    border-radius: 0;
}
.accordion-arrow.icon {
    transition: all 350ms ease-in-out;
}
tr[aria-expanded="true"] {
    .accordion-arrow.icon {
        transform: rotate(90deg);
    }
}
#export-dropdown.dropdown-toggle {
    &:after {
        display: none;
    }
}
#wdm-edwiserreports {
    .panel {
        box-shadow: unset;
    }
    .table {
        min-width: 100%;
    }
    .blocksetting {
        position: absolute;
        right: 0;
        top: 0;
        padding: 5px;
    }
    a[id^="blocksetting-"] {
        font-size: 20px;
        text-decoration: none;
        .icon {
            font-size: 20px;
            text-decoration: none;
        }
        &:after {
            margin: 0;
        }
    }
    .panel-title {
        min-height: 60px;
    }
    .panel-body {
        min-height: 400px;
    }
    input.dropdown-item {
        background-color: transparent;
        color: inherit;
        height: 22px;
    }
    input.dropdown-item:hover {
        cursor: pointer;
        background-color: #f8f9fa;
    }
    input.dropdown-item.custom:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .loader {
        height: 100%;
        position: relative;
        img {
            width: 10%;
            height: 10%;
            position: absolute;
            top: 40%;
            left: 45%;
            right: 45%;
        }
    }
    .dataTables_wrapper {
        .row {
            #wdm-edwiserreports {
                .dataTables_wrapper {
                    div[class^="col-"] {
                        margin: 0;
                        padding: 0;
                    }
                }
            }
        }
    }
    // Fixing header background glitch because of block configurable_rerport plugin.
    .dataTable {
        .sorting_asc,
        .sorting_desc,
        .sorting {
            background-image: none !important;
        }
    }
    .edwiserReport-block {
        > div {
            position: relative;
            height: 100%;
            padding: 1rem;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
            &:hover {
                box-shadow: 0 8px 10px rgba(0, 0, 0, 0.25), 0 3px 4px rgba(0, 0, 0, 0.22);
            }
            .panel {
                height: 100%;
                .panel-body {
                    overflow: auto;
                }
                .panel-footer {
                    padding: 1rem 0 0 0;
                }
            }
        }
    }
}
.pie-placeholder {
    max-width: 450px;
    margin: auto;
    img.icon {
        width: 100%;
        height: 100%;
        margin: 0;
    }
}
.ct-chart {
    min-height: 350px;
    max-height: 350px;
}
.loading-icon.icon-no-margin {
    display: block;
    width: 100%;
    text-align: center;
}
.path-local-edwiserreports {
    [role="main"] {
        position: relative;
    }
    .breadcrumb {
        display: none;
    }
    #customReportBlock {
        table {
            td {
                padding: 10px 18px;
            }
        }
    }
}
.esr-switch {
    height: 1rem;
    width: 2rem;
    margin-bottom: 0;
    cursor: pointer;
    display: block;
    input {
        display: none;
        &:checked {
            + {
                .switch-container {
                    .switch-lever {
                        left: 1rem;
                    }
                }
            }
        }
        &:not(:checked) {
            + {
                .switch-container {
                    .switch-background {
                        background-color: #808080 !important;
                    }
                    .switch-lever {
                        left: 0;
                        background-color: #808080 !important;
                    }
                }
            }
        }
    }
    .switch-container {
        height: 100%;
        width: 100%;
        position: relative;
        .switch-background {
            height: .8rem;
            width: inherit;
            border-radius: 1rem;
            opacity: .5;
            margin: .35rem 0;
            transition: background-color 0.2s linear;
        }
        .switch-lever {
            position: absolute;
            height: 1rem;
            width: 1rem;
            border-radius: 50%;
            top: -.1rem;
            box-shadow: grey 0 0 1px 0;
            transition: left 0.2s linear, background-color 0.2s linear;
        }
    }
}
.no-wrap {
    white-space: nowrap;
}
#listemailstab {
    tbody.empty {
        display: none;
    }
    thead {
        th {
            border-bottom: none;
        }
    }
}
.font-size-14 {
    font-size: 14px;
}
#mostactivecourses {
    input[type="search"] {
        margin: 0;
    }
}
div[id^="wdm-"][id*="-individual"] {
    table.table {
        min-width: 100%;
    }
    padding: 10px;
    background: #fff;
    min-height: 600px;
}
.modal-dialog {
    .table {
        min-width: 100%;
    }
}
#cover-spin {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    display: none;
    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 48%;
        top: 40%;
        width: 40px;
        height: 40px;
        border-style: solid;
        border-color: black;
        border-top-color: transparent;
        border-width: 4px;
        border-radius: 50%;
        -webkit-animation: spin .8s linear infinite;
        animation: spin .8s linear infinite;
    }
}
.modal-body {
    .form-group {
        margin-right: 0;
        margin-left: 0;
    }
}
.reportfields {
    padding: 2%;
    border: 1px solid #8a8a8a52;
    margin: 1% 0 1% 0;
    border-radius: 5px;
}
#customQueryReportBlock {
    .input-search {
        .input-search-close {
            right: 0;
        }
    }
    .select2-container--default {
        .select2-selection--multiple {
            .select2-selection__rendered {
                white-space: normal;
            }
        }
    }
    .activitytype.select {
        .select2-container {
            width: 100%;
        }
    }
}
.modal-open {
    .select2-container {
        z-index: unset;
    }
}
.modal {
    .path-admin-tool-capability {
        .comparisontable {
            thead {
                th {
                    div {
                        > a {
                            transform: rotate(270deg);
                            -webkit-transform: rotate(270deg);
                            -moz-transform: rotate(270deg);
                            -ms-transform: rotate(270deg);
                            -o-transform: rotate(270deg);
                        }
                    }
                }
            }
        }
    }
    .menucapabilities {
        max-width: 100%;
    }
    .comparisontable {
        .switch-capability {
            cursor: pointer;
            label {
                cursor: pointer;
            }
        }
    }
}
#page-local-edwiserreports-index {
    #page-header {
        #editing-btn {
            vertical-align: middle;
            right: 1.25rem;
            text-align: center;
            margin-left: auto;
            margin-bottom: 1.2rem;
            top: 28px;
        }
    }
}
.block-hidden {
    .panel-title {
        opacity: 0.4;
    }
    .panel-body {
        opacity: 0.4;
    }
    .panel-footer {
        opacity: 0.4;
    }
}
.edwiserreports-loader {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7);
    i {
        font-size: 2rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
    body.site-menubar-unfold {
        #wdm-courseanalytics-individual {
            [class^="recent-"] {
                min-width: 50%;
            }
        }
    }
    body.pinaside {
        #wdm-courseanalytics-individual {
            [class^="recent-"] {
                min-width: 50%;
            }
        }
    }
    body.pinaside.site-menubar-unfold {
        #wdm-courseanalytics-individual {
            [class^="recent-"] {
                min-width: 100%;
            }
        }
    }
}

@media (max-width: 768px) {
    body.site-menubar-unfold {
        #wdm-courseanalytics-individual {
            [class^="recent-"] {
                min-width: 100%;
            }
        }
    }
}

#wdm-userfilter .dropdown-menu {
    max-height: 400px;
    overflow: auto;
}
