/* stylelint-disable declaration-no-important */

.reports-preview-body,
.reports-list-body {
    table.empty {
        height: 300px;
    }
    .reports-preview-content.loader,
    .reports-list-content.loader {
        .icon {
            height: 36px;
            width: 36px;
            font-size: 36px;
        }
    }
}

.reports-list-content {
    [data-action="hide"] {
        &[data-value="0"] {
            .show-svg {
                display: none;
            }
        }
        &[data-value="1"] {
            .hide-svg {
                display: none;
            }
        }
    }
}

.reports-filter-body {
    .select2-container {
        width: 100% !important;
        height: 100% !important;
    }
    .select2-selection--single,
    .select2-selection--multiple {
        height: 100% !important;
    }
    .select2-selection__rendered {
        word-wrap: break-word !important;
        text-overflow: inherit !important;
        white-space: normal !important;
    }
    .checkbox-edwiserreports {
        padding: 0.2rem 2.5rem;
    }
    .field-group {
        cursor: pointer;
        &+.field {
            position: absolute;
            z-index: 1;
            background: white;
            left: 0;
            right: 0;
            box-shadow: 0 7px 14px 0 rgba(59, 65, 94, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
        }
    }
}

.field-group.open i {
    transform: rotate(90deg);
}

.field-group i,
.field {
    transition-duration: 0.5s;
    transition-property: transform;
}

.field:not(.show) {
    display: none;
}

#cr-list-table {
    min-width: 100%;
    th,
    td {
        &:last-child {
            text-align: center;
        }
    }
}

#wdm-customreports-edit {
    .customreports-block-section>div {
        position: relative;
        height: 100%;
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
    // Fixing header background glitch because of block configurable_rerport plugin.
    .dataTable {
        .sorting_asc,
        .sorting_desc,
        .sorting {
            background-image: none !important;
        }
    }
}

#wdm-customreports-save-form {
    .form-group {
        .text-nowrap {
            abbr[title] {
                text-decoration: none !important;
            }
            align-self: center;
            margin-left: auto;
            * {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }
}
