.reports-preview-body,
.reports-list-body {
    .empty {
        height: 300px;
    }
    .reports-preview-content {
        min-height: 300px;
        & .loader {
         .icon {
                height: 36px;
                width: 36px;
                font-size: 36px;
            }
        }
    }
}
.reports-filter-body {
    min-height: 340px;
    .field-group {
        cursor: pointer;
    }
}
.field-group.open i {
	transform: rotate(90deg);
}
.field-group i,
.field {
	transition-duration: 0.5s;
    transition-property: transform;
}
.field:not(.show) {
	display: none;
}
