/* stylelint-disable declaration-no-important */
table.dataTable {
    border-bottom: 0 !important;
    thead {
        .sorting:before,
        .sorting_asc:before,
        .sorting_desc:before,
        .sorting_asc_disabled:before,
        .sorting_desc_disabled:before {
            margin-top: -5px;
            content: "";
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            transform: translateY(-50%);
            font-family: 'FontAwesome' !important;
            position: absolute;
            top: 50%;
            right: 1em;
        }
        .sorting:after,
        .sorting_asc:after,
        .sorting_desc:after,
        .sorting_asc_disabled:after,
        .sorting_desc_disabled:after {
            margin-top: 5px;
            content: "";
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            transform: translateY(-50%);
            font-family: 'FontAwesome' !important;
            position: absolute;
            top: 50%;
            right: 1em;
        }
    }
    tr,
    td {
        background-color: unset;
    }
    th {
        vertical-align: middle;
        border-bottom: 0 !important;
    }
}

.dataTables_wrapper {
    padding: 0;
    > .row {
        overflow: auto;
        margin: 0;
    }
}

.table-responsive {
    > div.dataTables_wrapper {
        > div.row:nth-child(2) {
            clear: both;
            overflow-x: scroll;
        }
    }
}

.dataTables_filter {
    > .form-control[type="search"] {
        margin-left: 0;
    }
}

table.dataTable td.dataTables_empty {
    text-align: center;
}

.dataTables_wrapper table.dataTable thead > tr > th {
    padding: 10px 30px 10px 10px;
}

.dataTables_wrapper .row div[class^='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.dataTables_wrapper table.dataTable tr td {
    background-color: #fff !important;
}
