table.dataTable {
    thead {
        .sorting:before,
        .sorting_asc:before,
        .sorting_desc:before,
        .sorting_asc_disabled:before,
        .sorting_desc_disabled:before,
        .sorting:after,
        .sorting_asc:after,
        .sorting_desc:after,
        .sorting_asc_disabled:after,
        .sorting_desc_disabled:after {
            top: 50%;
            transform: translateY(-50%);
        }
    }
    tr, td {
        background-color: unset;
    }
    th {
        vertical-align: middle;
    }
}

.dataTables_wrapper {
    padding: 0;
    > .row {
        overflow: auto;
        margin: 0 0 1rem 0;
    }
}

.table-responsive {
    > div.dataTables_wrapper {
        > div.row:nth-child(2) {
            clear: both;
            overflow-x: scroll;
        }
    }
}

.dataTables_filter {
    >.form-control[type="search"] {
        margin-left: 0;
    }
}

table.dataTable td.dataTables_empty {
    text-align: center;
}
