#wdm-edwiserreports {
    #siteaccessblock {
        .apexcharts-heatmap-series rect {
            stroke: rgb(0, 0, 0);
            stroke-width: 1px;
            stroke-opacity: 0.2;
            rx: 0;
        }
        .siteaccess-values-shade {
            position: relative;
            height: 2.5rem;
            margin: 0 3.5rem 3rem 5rem;
            display: flex;
            align-items: center;
            .siteaccess {
                margin: 0;
            }
            .shades {
                display: flex;
                flex: 1;
                .shade {
                    height: 2rem;
                    padding: 0 0.2rem;
                    .shade-inner {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}
