/* stylelint-disable declaration-no-important */
#wdm-edwiserreports {
    #todaysactivityblock {
        input.input-group-addon {
            top: 0;
            right: 0;
            background-color: #e4eaec;
            max-width: 250px;
        }
        .ct-chart {
            min-height: 100px;
            max-height: 100px;
        }
        .todays-block {
            filter: contrast(1.3);
            padding: 20px;
            margin-bottom: 5px;
        }
        .card {
            padding: 20px 30px;
        }
    }
}

@media (max-width: 480px) {
    #wdm-edwiserreports {
        #todaysactivityblock {
            .card-block {
                .row {
                    > div {
                        width: 100%;
                        max-width: 100%;
                        flex: 0 0 100%;
                        text-align: center;
                        .summary {
                            margin: auto !important;
                        }
                        .todays-block {
                            div {
                                width: 100%;
                            }
                        }
                    }
                }
                .visual {
                    margin-top: 1rem;
                    text-align: center;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 830px) {
    #wdm-edwiserreports {
        .edwiserReport-block.col-md-6 {
            #todaysactivityblock {
                .card-block {
                    .row {
                        > div {
                            width: 100%;
                            max-width: 100%;
                            flex: 0 0 100%;
                            text-align: center;
                            .summary {
                                margin: auto !important;
                            }
                            .todays-block {
                                div {
                                    width: 100%;
                                }
                            }
                        }
                    }
                    .visual {
                        margin-top: 1rem;
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    #wdm-edwiserreports {
        .edwiserReport-block.col-md-6 {
            #todaysactivityblock {
                .card-block {
                    .row {
                        > div {
                            width: 100%;
                            max-width: 100%;
                            flex: 0 0 100%;
                            text-align: center;
                            .summary {
                                margin: auto !important;
                            }
                            .todays-block {
                                div {
                                    width: 100%;
                                }
                            }
                        }
                    }
                    .visual {
                        margin-top: 1rem;
                        text-align: center;
                    }
                }
            }
        }
    }
}
