/* stylelint-disable declaration-no-important */
.clearfix {
    clear: both;
}

/* DataTables Custom CSS Start */
/* #wdm-edwiserreports table thead tr th {
    font-weight: 700 !important;
    color: unset !important
} */
/* #wdm-edwiserreports .dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 0 !important;
} */
/* #wdm-edwiserreports .table th::before, #wdm-edwiserreports .table th::after {
    display: none;
} */

/* Hide backgroud image in datatable sorting */
/* [class*="sorting"] {
    background: none;
} */

/* #wdm-edwiserreports .dataTables_scrollHead {
    margin-bottom: 0 !important;
}

#wdm-edwiserreports .dataTables_scrollBody table.dataTable thead td,
#wdm-edwiserreports .dataTables_scrollHeadInner table.dataTable thead th {
    padding: 10px 18px !important;
} */

#wdm-activeusers-individual .table-responsive > div.dataTables_wrapper > div.row:nth-child(2),
#wdm-courseprogress-individual.table-responsive > div.dataTables_wrapper > div:nth-child(2),
#wdm-courseengage-individual.table-responsive > div.dataTables_wrapper > div:nth-child(2),
#wdm-lpstats-individual.table-responsive > div.dataTables_wrapper > div:nth-child(2),
#wdm-certificates-individual.table-responsive > div.dataTables_wrapper > div:nth-child(2),
#wdm-completion-individual.table-responsive > div.dataTables_wrapper > div:nth-child(2),
#wdm-courseanalytics-individual.table-responsive > div.dataTables_wrapper > div:nth-child(2) {
    clear: both;
    overflow-x: scroll;
}

.modal div.dataTables_wrapper > div.row:nth-child(2) {
    overflow-x: scroll;
}

.dataTables_filter .form-control[type="search"] {
    margin-left: 0 !important;
}
/* DataTables Custom CSS End */

/* Accordion transition on click event Start */
.path-admin-report-edwiserReport .accordion-arrow.icon,
.path-local-edwiserreports .accordion-arrow.icon {
    transition: all 350ms ease-in-out;
}
.path-admin-report-edwiserReport tr[aria-expanded="true"] .accordion-arrow.icon,
.path-local-edwiserreports tr[aria-expanded="true"] .accordion-arrow.icon {
    transform: rotate(90deg);
}
/* Accordion transition on click event End */

#wdm-edwiserreports #accessinfograph table#accessinfotable tbody tr td {
    border-width: 3px;
    width: 12.5%;
}
#wdm-edwiserreports #accessinfograph table#accessinfotable tbody tr td:not(.empty-label):hover {
    border-color: #999 !important;
}
#wdm-edwiserreports #accessinfograph table#accessinfodesctable tbody tr td {
    width: 16.67%;
}

.input-group-addon {
    font-weight: 300;
    padding: .429rem .729rem;
    color: #76838f;
    text-align: center;
    background-color: #e4eaec;
    border: 1px solid #e4eaec;
    border-radius: 0;
}

/* Custom Date Range Selector End*/
.path-local-edwiserreports .filters .dropdown-menu.withcalendar {
    display: flex;
}
#wdm-edwiserreports #activeusersblock .dropdown-menu.withcalendar .dropdown-calendar,
.page-local-edwiserreports-activeusers .dropdown-menu.withcalendar .dropdown-calendar {
    height: 300px;
    width: 308px;
    float: left;
    position: relative;
}

#wdm-edwiserreports #activeusersblock .dropdown-menu.withcalendar .dropdown-calendar .flatpickr-calendar,
.path-local-edwiserreports .dropdown-menu.withcalendar .dropdown-calendar .flatpickr-calendar {
    top: 0 !important;
    left: 0 !important;
    right: auto !important;
    box-shadow: none !important;
    border: 0 !important;
    position: unset;
}

#wdm-edwiserreports #activeusersblock .dropdown-menu .dropdown-body,
.path-local-edwiserreports .dropdown-menu .dropdown-body {
    width: 215px;
    float: left;
}

/* #wdm-edwiserreports #activeusersblock .dropdown-body .dropdown-item,
.path-local-edwiserreports .dropdown-body .dropdown-item {
    cursor: pointer;
    width: calc(100% - 10px);
} */

#wdm-edwiserreports .dropdown-menu.dropdown-menu-right,
.path-local-edwiserreports .dropdown-menu.dropdown-menu-right {
    right: 0;
    left: auto;
}
/* Custom Date Range Selector End*/

/* Media query for dashboard page */
@media only screen and (min-width: 600px) {
    #wdm-edwiserreports #activeusersblock .dropdown-menu.withcalendar,
    .path-local-edwiserreports .dropdown-menu.withcalendar {
        width: 530px !important;
    }
    #wdm-edwiserreports #activeusersblock .dropdown-menu .dropdown-body,
    .path-local-edwiserreports .dropdown-menu .dropdown-body {
        float: right !important;
    }
    /* #wdm-edwiserreports #activeusersblock .panel-header {
        margin-right: 170px;
    } */
    #wdm-edwiserreports #activeusersblock .panel-header .filters,
    #wdm-edwiserreports #courseprogressblock .panel-header .dropdown,
    #wdm-edwiserreports #mostactivecourses .panel-header .dropdown,
    #wdm-edwiserreports #certificatestatsblock .panel-header .dropdown,
    #wdm-edwiserreports #f2fsessionsblock .panel-header .dropdown,
    #wdm-edwiserreports #lpstatsblock .panel-header .dropdown,
    .path-local-edwiserreports .export-dropdown.dropdown {
        position: absolute;
        top: 0;
        right: 0;
    }
    /* #wdm-edwiserreports #courseprogressblock .panel-header,
    #wdm-edwiserreports #mostactivecourses .panel-header,
    #wdm-edwiserreports #certificatestatsblock .panel-header,
    #wdm-edwiserreports #f2fsessionsblock .panel-header,
    #wdm-edwiserreports #lpstatsblock .panel-header,
    .path-local-edwiserreports .page-title {
        margin-right: 50px;
    } */
    /* #wdm-edwiserreports #courseprogressblock .panel-header .dropdown,
    #wdm-edwiserreports #mostactivecourses .panel-header .dropdown,
    #wdm-edwiserreports #certificatestatsblock .panel-header .dropdown,
    #wdm-edwiserreports #f2fsessionsblock .panel-header .dropdown,
    #wdm-edwiserreports #lpstatsblock .panel-header .dropdown {
        margin-top: 20px;
    } */
}

#export-dropdown.dropdown-toggle:after {
    display: none;
}

#wdm-edwiserreports .panel {
    box-shadow: unset;
}

/* Datatable css */
.path-local-edwiserreports table.dataTable tr,
.path-admin-report-edwiserReport table.dataTable tr,
.path-local-edwiserreports table.dataTable tr td,
.path-admin-report-edwiserReport table.dataTable tr td,
.path-admin-report-edwiserReport table.dataTable tr td.sorting_1,
.path-local-edwiserreports table.dataTable tr td.sorting_1 {
    background-color: unset;
}

.path-local-edwiserreports .table thead th,
.path-admin-report-edwiserReport .table thead th {
    vertical-align: middle !important;
}

.path-admin-report-edwiserReport .dataTables_scrollHeadInner,
.path-local-edwiserreports .dataTables_scrollHeadInner {
    min-width: 100% !important;
}

.path-admin-report-edwiserReport .collapse-td,
.path-local-edwiserreports .collapse-td {
    height: auto !important;
    padding-left: 50px !important;
}

/* F2f sessions page css */
#wdm-f2fsessions-individual {
    min-height: 350px;
}

/* Custom Scrollbar Design Start */
/* width */
.path-local-edwiserreports ::-webkit-scrollbar,
.path-admin-report-edwiserReport ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 0;
}

/* Track */
.path-local-edwiserreports ::-webkit-scrollbar-track,
.path-admin-report-edwiserReport ::-webkit-scrollbar-track {
    border-radius: 0;
    background: #fff;
}

/* Handle */
.path-local-edwiserreports ::-webkit-scrollbar-thumb,
.path-admin-report-edwiserReport ::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #888;
}

/* Handle on hover */
.path-local-edwiserreports ::-webkit-scrollbar-thumb:hover,
.path-admin-report-edwiserReport ::-webkit-scrollbar {
    background: #555;
}
/* Custom Scrollbar Design End */

/* Certificates Block*/
#wdm-edwiserreports #certificatestatsblock .panel-body {
    min-height: 250px;
}

/* Form course progress & Lp stats block */
#courseprogressblock .col-md-3,
#lpstatsblock .col-md-3 {
    display: none;
}

/* Placeholder for pie graph*/
.pie-placeholder img.icon {
    width: 100%;
    height: 100%;
}

#courseprogressblock .col-md-9,
#lpstatsblock .col-md-9 {
    display: flex;
    width: 100% !important;
    max-width: 100% !important;
    flex: 0 0 100%;
    padding-left: 0;
    padding-right: 0;
}

#courseprogressblock .col-md-9 .form-autocomplete-selection[role="list"],
#lpstatsblock .col-md-9 .form-autocomplete-selection[role="list"] {
    order: 3;
    -webkit-order: 3;
    margin: 0;
    width: 100%;
}

#courseprogressblock .col-md-9 .form-autocomplete-selection[role="list"] span[role="listitem"],
#lpstatsblock .col-md-9 .form-autocomplete-selection[role="list"] span[role="listitem"] {
    border-radius: 0;
    background-color: #fff;
    color: #526069;
    font-size: 1rem;
    font-weight: 500;
    line-height: unset;
    text-align: unset;
    white-space: unset;
}

/* Bootstrap CSS override */
.badge-success {
    background-color: #11c26d !important;
}

.badge-danger {
    background-color: #ff4c52 !important;
}

.badge-warning {
    background-color: #eb6709 !important;
}

.overflow-scroll {
    overflow: scroll !important;
}

.text-decoration-none {
    text-decoration: none !important;
}

.text-gold {
    color: #fdd703;
    font-size: 24px !important;
}

.text-silver {
    color: #bfc0bf;
    font-size: 20px !important;
}

.text-bronze {
    color: #cd7e33;
    font-size: 16px !important;
}

.bg-image-none {
    background-image: none !important;
}

.no-sorting-arrow:before,
.no-sorting-arrow:after {
    display: none;
}
/* Bootstrap CSS Override Ended*/

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#wdm-edwiserreports .refresh {
    cursor: pointer;
}

#wdm-edwiserreports .refresh.refresh-spin {
    cursor: pointer;
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}

#wdm-edwiserreports .ct-chart {
    min-height: 350px;
    max-height: 350px;
}

/* Todays Activity Block */

#wdm-edwiserreports #todaysactivityblock input.input-group-addon {
    top: 0;
    right: 0;
    background-color: #e4eaec;
    max-width: 250px;
}

#wdm-edwiserreports #todaysactivityblock .ct-chart {
    min-height: 100px;
    max-height: 100px;
}

#wdm-edwiserreports #todaysactivityblock .todays-block {
    filter: contrast(1.3);
    padding: 20px;
    margin-bottom: 5px;
}

/* Active users page */
#wdm-activeusers-individual a {
    text-decoration: none;
}

/* Course Progress page */
#wdm-courseprogress-individual a {
    text-decoration: none;
}

.loading-icon.icon-no-margin {
    display: block;
    width: 100%;
    text-align: center;
}

.path-local-edwiserreports  [role="main"],
.path-admin-report-edwiserReport [role="main"] {
    position: relative;
}

/* Back button for reports */
#wdm_reportback_buttons {
    top: 0;
    left: 0;
}

/* Remove Breadcrumb */
.path-local-edwiserreports .breadcrumb,
.path-admin-report-edwiserReport .breadcrumb {
    display: none;
}

/* Site acess block css*/
#wdm-edwiserreports #siteaccesssblock tr.siteaccess-tablerow {
    background-color: #e0e0e0 !important;
}

#wdm-edwiserreports #siteaccesssblock td.empty-label.siteacess-time,
#wdm-edwiserreports #siteaccesssblock #accessinfodesctable td.empty-label.color-label {
    min-width: 60px;
}

#wdm-edwiserreports #siteaccesssblock #accessinfodesctable td.color-label-20 {
    background-color: rgba(52, 137, 223, 0.2) !important;
}
#wdm-edwiserreports #siteaccesssblock #accessinfodesctable td.color-label-40 {
    background-color: rgba(52, 137, 223, 0.4) !important;
}
#wdm-edwiserreports #siteaccesssblock #accessinfodesctable td.color-label-60 {
    background-color: rgba(52, 137, 223, 0.6) !important;
}
#wdm-edwiserreports #siteaccesssblock #accessinfodesctable td.color-label-80 {
    background-color: rgba(52, 137, 223, 0.8) !important;
}
#wdm-edwiserreports #siteaccesssblock #accessinfodesctable td.color-label-100 {
    background-color: rgba(52, 137, 223, 1) !important;
}

#wdm-edwiserreports #siteaccesssblock #accessinfodesctable td.empty-label p {
    left: -0.2rem;
}

/* Switch for shedules emails */
.esr-switch {
    height: 1rem;
    width: 2rem;
    margin-bottom: 0;
    cursor: pointer;
    display: block;
}
.esr-switch input {
    display: none;
}
.esr-switch .switch-container {
    height: 100%;
    width: 100%;
    position: relative;
}
.esr-switch .switch-container .switch-background {
    height: .8rem;
    width: inherit;
    border-radius: 1rem;
    opacity: .5;
    margin: .35rem 0;
    transition: background-color 0.2s linear;
}

.esr-switch input:checked + .switch-container .switch-lever {
    left: 1rem;
}
.esr-switch .switch-container .switch-lever {
    position: absolute;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    top: -.1rem;
    box-shadow: grey 0 0 1px 0;
    transition: left 0.2s linear, background-color 0.2s linear;
}

.esr-switch input:not(:checked) + .switch-container .switch-background {
    background-color: #0000 !important;
}

.esr-switch input:not(:checked) + .switch-container .switch-lever {
    left: 0;
    background-color: white !important;
}

/* Scheduled email table */
#listemailstab tbody.empty {
    display: none;
}

#listemailstab thead th {
    border-bottom: none;
}

/* Fixed active courses table serach icon */
#mostactivecourses input[type="search"] {
    margin: 0;
}

div[id^="wdm-"][id*="-individual"] table.table,
#wdm-edwiserreports .table,
.modal-dialog .table {
    min-width: 100%;
}

.no-wrap {
    white-space: nowrap;
}

/* Course analytics page widht issue */
@media (max-width: 1024px) and (min-width: 769px) {
    body.site-menubar-unfold #wdm-courseanalytics-individual [class^="recent-"] {
        min-width: 50%;
    }

    body.pinaside #wdm-courseanalytics-individual [class^="recent-"] {
        min-width: 50%;
    }

    body.pinaside.site-menubar-unfold #wdm-courseanalytics-individual [class^="recent-"] {
        min-width: 100% !important;
    }
}

@media (max-width: 768px) {
    body.site-menubar-unfold #wdm-courseanalytics-individual [class^="recent-"] {
        min-width: 100%;
    }
}

/* Loader css */
#cover-spin {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    display: none;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#cover-spin::after {
    content: '';
    display: block;
    position: absolute;
    left: 48%;
    top: 40%;
    width: 40px;
    height: 40px;
    border-style: solid;
    border-color: black;
    border-top-color: transparent;
    border-width: 4px;
    border-radius: 50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

/* Fixed modal mfrom alignement issue */
.modal-body .form-group {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.path-local-edwiserreports .filters .dropdown-menu {
    /* max-height: 320px; */
    overflow: scroll;
}

/* Custom Report Block Table Style */
.path-local-edwiserreports #customReportBlock table td {
    padding: 10px 18px !important;
}
/* Custom Query Report */
.reportfields {
    padding: 2%;
    border: 1px solid #8a8a8a52;
    margin: 1% 0 1% 0;
    border-radius: 5px;
}

#customQueryReportBlock .input-search .input-search-close {
    right: 0 !important;
}

#customQueryReportBlock .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    white-space: normal;
}

#customQueryReportBlock .activitytype.select .select2-container {
    width: 100% !important;
}

/** Blocks setting button */
#wdm-edwiserreports .blocksetting {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
}

#wdm-edwiserreports a[id^="blocksetting-"],
#wdm-edwiserreports a[id^="blocksetting-"] .icon {
    font-size: 20px;
    text-decoration: none !important;
}
#wdm-edwiserreports a[id^="blocksetting-"]:after {
    margin: 0 !Important;
}

#wdm-edwiserreports .panel-title {
    min-height: 60px;
}

#wdm-edwiserreports .panel-body {
    min-height: 400px;
}

#wdm-edwiserreports input.dropdown-item {
    background-color: transparent;
    color: inherit;
}

#wdm-edwiserreports .loader {
    height: 100%;
    position: relative;
}

#wdm-edwiserreports .loader img {
    width: 10%;
    height: 10%;
    position: absolute;
    top: 40%;
    left: 45%;
    right: 45%;
}

#todaysactivityblock .card {
    padding: 20px 30px;
}
#wdm-edwiserreports .dataTables_wrapper .row
#wdm-edwiserreports .dataTables_wrapper div[class^="col-"] {
    margin: 0 !important;
    padding: 0 !important;
}

#wdm-edwiserreports .edwiserReport-block > div {
    position: relative;
    height: 100%;
    padding: 1rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

#wdm-edwiserreports .edwiserReport-block > div:hover {
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.25), 0 3px 4px rgba(0, 0, 0, 0.22);
}

#wdm-edwiserreports .edwiserReport-block > div .panel {
    height: 100%;
}

#wdm-edwiserreports .edwiserReport-block > div .panel .panel-body {
    overflow: auto;
}

#wdm-edwiserreports .edwiserReport-block > div .panel .panel-footer {
    padding: 1rem 0 0 0 !important;
}

#wdm-edwiserreports .edwiserReport-block > div#activeusersblock .panel .panel-body {
    overflow: hidden;
}
#wdm-edwiserreports .edwiserReport-block > div#courseprogressblock .panel .panel-body {
    overflow: hidden;
}
#wdm-edwiserreports .edwiserReport-block .dataTables_wrapper {
    padding: 0;
}
#wdm-edwiserreports .edwiserReport-block .dataTables_wrapper > .row,
#wdm-courseprogress-individual .dataTables_wrapper > .row,
#wdm-courseengage-individual .dataTables_wrapper > .row,
#wdm-activeusers-individual .dataTables_wrapper > .row,
#wdm-completion-individual .dataTables_wrapper > .row {
    overflow: auto;
    margin: 0 0 1rem 0;
}

.modal-open .select2-container {
    z-index: unset !important;
}

.modal .path-admin-tool-capability .comparisontable thead th div > a {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
}

.modal .menucapabilities {
    max-width: 100%;
}
.modal .comparisontable .switch-capability,
.modal .comparisontable .switch-capability label {
    cursor: pointer;
}

#wdm-certificates-individual .table .pie-progress {
    width: 40px;
    margin: auto;
}

#page-local-edwiserreports-index #page-header #editing-btn {
    vertical-align: middle;
    right: 1.25rem;
    text-align: center;
    margin-left: auto;
    margin-bottom: 1.2rem;
    top: 28px;
}

/* @media (min-width: 768px) {
    #page-local-edwiserreports-index #page-header #editing-btn {
        position: absolute;
    }
} */

.block-hidden .panel-title,
.block-hidden .panel-body,
.block-hidden .panel-footer {
    opacity: 0.4;
}

div[id^="wdm-"][id*="-individual"] {
    padding: 10px;
    background: #fff;
    min-height: 600px;
}

table.dataTable td.dataTables_empty {
    text-align: center;
}

.edwiserreports-loader {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7);
}

.edwiserreports-loader i {
    font-size: 2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Daily activities styling fixes for small containers */
@media (max-width: 480px) {
    #wdm-edwiserreports #todaysactivityblock .card-block .row > div {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
        text-align: center;
    }
    #wdm-edwiserreports #todaysactivityblock .card-block .row > div .summary {
        margin: auto !important;
    }
    #wdm-edwiserreports #todaysactivityblock .card-block .row > div .todays-block div {
        width: 100%;
    }
    #wdm-edwiserreports #todaysactivityblock .card-block .visual {
        margin-top: 1rem;
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 830px) {
    #wdm-edwiserreports .edwiserReport-block.col-md-6 #todaysactivityblock .card-block .row > div {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
        text-align: center;
    }
    #wdm-edwiserreports .edwiserReport-block.col-md-6 #todaysactivityblock .card-block .row > div .summary {
        margin: auto !important;
    }
    #wdm-edwiserreports .edwiserReport-block.col-md-6 #todaysactivityblock .card-block .row > div .todays-block div {
        width: 100%;
    }
    #wdm-edwiserreports .edwiserReport-block.col-md-6 #todaysactivityblock .card-block .visual {
        margin-top: 1rem;
        text-align: center;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    #wdm-edwiserreports .edwiserReport-block.col-lg-4 #todaysactivityblock .card-block .row > div {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
        text-align: center;
    }
    #wdm-edwiserreports .edwiserReport-block.col-lg-4 #todaysactivityblock .card-block .row > div .summary {
        margin: auto !important;
    }
    #wdm-edwiserreports .edwiserReport-block.col-lg-4 #todaysactivityblock .card-block .row > div .todays-block div {
        width: 100%;
    }
    #wdm-edwiserreports .edwiserReport-block.col-lg-4 #todaysactivityblock .card-block .visual {
        margin-top: 1rem;
        text-align: center;
    }
}


.pie-progress-sm {
    max-width: 100px;
}
.pie-progress {
    max-width: 150px;
    margin: 0 auto;
}
.pie-progress {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    transform-style: preserve-3d;
}
.pie-progress-sm {
    max-width: 100px;
}
.pie-progress {
    max-width: 150px;
    margin: 0 auto;
}
.pie-progress {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    transform-style: preserve-3d;
}

.pie-progress-sm .pie-progress-number {
    font-size: 26px;
}
.pie-progress-sm .pie-progress-number {
    font-size: 26px;
}
.pie-progress-number {
    font-size: 36px;
}
.pie-progress .pie-progress-icon,
.pie-progress-content,
.pie-progress-label,
.pie-progress-number {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
}
.font-size-14 {
    font-size: 14px !important;
}
.pie-progress-number {
    font-size: 36px;
}
.pie-progress .pie-progress-icon,
.pie-progress-content,
.pie-progress-label,
.pie-progress-number {
    -webkit-transform: translateY(-66%);
    -moz-transform: translateY(-66%);
    -ms-transform: translateY(-66%);
    -o-transform: translateY(-66%);
    transform: translateY(-66%);
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
}

.path-local-edwiserreports .modal-dialog:focus {
    outline: -webkit-focus-ring-color auto 0 !important;
}
#page-local-edwiserreports-index .modal-dialog {
    min-height: auto;
}
