#wdm-elucidsitereport table thead tr th {
    font-weight: 700 !important;
}
#wdm-elucidsitereport #f2fsessionsblock table tbody tr td .icon {
    transition: all 350ms ease-in-out;
}
#wdm-elucidsitereport #f2fsessionsblock table tbody tr[aria-expanded="true"] td .icon {
    transform: rotate(90deg);
}

#wdm-elucidsitereport #accessinfograph table#accessinfotable tbody tr td {
    border-width: 3px;
    width: 12.5%;
}
#wdm-elucidsitereport #accessinfograph table#accessinfotable tbody tr td:not(.empty-lable):hover {
    border-color: #999 !important;
}
#wdm-elucidsitereport #accessinfograph table#accessinfodesctable tbody tr td {
    width: 16.67%;
}

#wdm-elucidsitereport #activeusersblock .input-group-addon {
    font-weight: 300;
    padding: .429rem .729rem;
    color: #76838f;
    text-align: center;
    background-color: #e4eaec;
    border: 1px solid #e4eaec;
    border-radius: 0;
}

#wdm-elucidsitereport #activeusersblock input[type="date"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}