#wdm-elucidsitereport table thead tr th {
    font-weight: 700 !important;
    color: unset !important
}
#wdm-elucidsitereport .dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 0 !important;
}

#wdm-elucidsitereport #f2fsessionsblock table tbody tr td .icon {
    transition: all 350ms ease-in-out;
}
#wdm-elucidsitereport #f2fsessionsblock table tbody tr[aria-expanded="true"] td .icon {
    transform: rotate(90deg);
}

#wdm-elucidsitereport #accessinfograph table#accessinfotable tbody tr td {
    border-width: 3px;
    width: 12.5%;
}
#wdm-elucidsitereport #accessinfograph table#accessinfotable tbody tr td:not(.empty-lable):hover {
    border-color: #999 !important;
}
#wdm-elucidsitereport #accessinfograph table#accessinfodesctable tbody tr td {
    width: 16.67%;
}

#wdm-elucidsitereport .input-group-addon {
    font-weight: 300;
    padding: .429rem .729rem;
    color: #76838f;
    text-align: center;
    background-color: #e4eaec;
    border: 1px solid #e4eaec;
    border-radius: 0;
}

/* Custom Datate Range Selector */
#wdm-elucidsitereport #activeusersblock .dropdown-menu.withcalendar .dropdown-calendar {
    height: 300px;
    width: 308px;
    float: left;
    position: relative;
}

#wdm-elucidsitereport #activeusersblock .dropdown-menu.withcalendar .dropdown-calendar .flatpickr-calendar {
    top: 0 !important;
    left: 0 !important;
    right: auto !important;
    box-shadow: none !important;
    border: 0 !important;
}

@media only screen and (min-width: 600px) {
    #wdm-elucidsitereport #activeusersblock .dropdown-menu.withcalendar {
        width: 530px !important;
    }
    #wdm-elucidsitereport #activeusersblock .dropdown-menu .dropdown-body {
        float: right !important;
    }
}

#wdm-elucidsitereport #activeusersblock .dropdown-menu .dropdown-body {
    width: 215px;
    float: left;
}
#wdm-elucidsitereport #activeusersblock .dropdown-body .dropdown-item {
    cursor: pointer;
}


/* Datatable css */
#wdm-elucidsitereport table.dataTable tr,
#wdm-elucidsitereport table.dataTable tr td {
    background-color: unset !important;
}

#wdm-elucidsitereport .dataTables_scrollHeadInner {
    width: 100% !important;
}

/* width */
#wdm-elucidsitereport ::-webkit-scrollbar {
  width: 10px;
  border-radius: 0;
}

/* Track */
#wdm-elucidsitereport ::-webkit-scrollbar-track {
   border-radius: 0;
   background: #f1f1f1;
}

/* Handle */
#wdm-elucidsitereport ::-webkit-scrollbar-thumb {
   border-radius: 0;
   background: #888;
}

/* Handle on hover */
#wdm-elucidsitereport ::-webkit-scrollbar-thumb:hover {
   background: #555;
}

/* Form course progress block */
#courseprogressblock .col-md-3,
#lpstatsblock .col-md-3 {
    display: none;
}

#courseprogressblock .col-md-9,
#lpstatsblock .col-md-9 {
    display: -webkit-flex;
    display: flex;
    width: 100% !important;
    max-width: 100% !important;
    flex: 0 0 100%;
    padding-left: 0;
    padding-right: 0;
}

#courseprogressblock .col-md-9 .form-autocomplete-selection[role="list"],
#lpstatsblock .col-md-9 .form-autocomplete-selection[role="list"] {
    order: 3;
    -webkit-order: 3;
    margin: 0;
    width: 100%;
}

#courseprogressblock .col-md-9 .form-autocomplete-selection[role="list"] span[role="listitem"],
#lpstatsblock .col-md-9 .form-autocomplete-selection[role="list"] span[role="listitem"] {
    border-radius: 0;
    background-color: #fff;
    color: #526069;
    font-size: 1rem;
    font-weight: 500;
    line-height: unset;
    text-align: unset;
    white-space: unset;
}

/* Bootstrap CSS override */
.badge-success {
    background-color: #11c26d !important;
}

.badge-danger {
    background-color: #ff4c52 !important;
}

#wdm-elucidsitereport .dropdown-menu.dropdown-menu-right {
    right: 0;
    left: auto;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#wdm-elucidsitereport .refresh {
    cursor: pointer;
}

#wdm-elucidsitereport .refresh.refresh-spin {
    cursor: pointer;
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}

#wdm-elucidsitereport .ct-chart {
    min-height: 350px;
    max-height: 350px;
}

#wdm-elucidsitereport #todaysactivityblock .ct-chart {
    min-height: 100px;
    max-height: 100px;
}