<select class="cohort-select form-control singleselect" {{#disabled}}disabled title="{{#str}} unlockthisfeature, local_edwiserreports {{/str}}"{{/disabled}}>
    {{#values}}
        <option value="{{id}}">{{name}}</option>
    {{/values}}
</select>
