{{#disabled}}
    {{> local_edwiserreports/proexport }}
{{/disabled}}
<select class="group-select form-control singleselect" {{#disabled}}disabled title=""{{/disabled}}>
    {{#groups}}
        <option value="{{id}}">{{name}}</option>
    {{/groups}}
</select>
