<div class="table-search-input">
    <input class="form-control empty" type="text" placeholder="{{{placeholder}}}"/>
    <button class="search-button btn" type="button">
        {{{searchicon}}}
    </button>
</div>
