<div id="accessinfograph" class="panel h-auto">
    <div class="panel-header clearfix">
        <div class="panel-title px-0">
            <strong>
                {{#str}} accessinfo, report_elucidsitereport {{/str}}
                <a href="#" class="small"><i class="fa fa-question-circle"></i></a>
            </strong>
        </div>
    </div>
    <div class="panel-body p-0">
        <div class="dropdown col-12 px-0 pb-10">
            <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Site Access</button>
            <div class="dropdown-menu dropdown-sm" role="menu">
                <a class="active dropdown-item" href="javascript:void(0)" role="menuitem">Site Access</a>
                <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Courses Access</a>
            </div>
        </div>
        <div class="loader w-full text-center pt-100 mt-50" style="min-height: 350px;">
            {{# pix }} loader, report_elucidsitereport{{/ pix }}
        </div>
        <table id="accessinfotable" class="table d-none">
            <tbody class="small">
                {{#weekly}}
                <tr style="background-color: #e0e0e0 !important;">
                    {{#access}}
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,{{.}}) !important;">
                        <p class="m-0"></p>
                    </td>
                    {{/access}}
                    <td class="empty-lable bg-white small font-weight-700 border border-white py-0" style="min-width:60px">{{time}}</td>
                </tr>
                {{/weekly}}

                <tr class="text-center">
                    <td class="empty-lable small font-weight-700"><p class="m-0">Mon</p></td>
                    <td class="empty-lable small font-weight-700"><p class="m-0">Tue</p></td>
                    <td class="empty-lable small font-weight-700"><p class="m-0">Wed</p></td>
                    <td class="empty-lable small font-weight-700"><p class="m-0">Thu</p></td>
                    <td class="empty-lable small font-weight-700"><p class="m-0">Fri</p></td>
                    <td class="empty-lable small font-weight-700"><p class="m-0">Sat</p></td>
                    <td class="empty-lable small font-weight-700"><p class="m-0">Sun</p></td>
                    <td class="empty-lable border-0"></td>
                </tr>
            </tbody>

            <!--
            <tbody class="small">
                <tr>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="empty-lable bg-white small font-weight-700 border border-white py-0" style="min-width:60px">12:00 AM</td>
                </tr>
                <tr>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="empty-lable bg-white small font-weight-700 border border-white py-0" style="min-width:60px">01:00 AM</td>
                </tr>
                <tr>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="empty-lable bg-white small font-weight-700 border border-white py-0" style="min-width:60px">02:00 AM</td>
                </tr>
                <tr>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="empty-lable bg-white small font-weight-700 border border-white py-0" style="min-width:60px">03:00 AM</td>
                </tr>
                <tr>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="empty-lable bg-white small font-weight-700 border border-white py-0" style="min-width:60px">04:00 AM</td>
                </tr>
                <tr>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="empty-lable bg-white small font-weight-700 border border-white py-0" style="min-width:60px">05:00 AM</td>
                </tr>
                <tr>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="empty-lable bg-white small font-weight-700 border border-white py-0" style="min-width:60px">06:00 AM</td>
                </tr>
                <tr>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="empty-lable bg-white small font-weight-700 border border-white py-0" style="min-width:60px">07:00 AM</td>
                </tr>
                <tr>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="empty-lable bg-white small font-weight-700 border border-white py-0" style="min-width:60px">08:00 AM</td>
                </tr>
                <tr>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="empty-lable bg-white small font-weight-700 border border-white py-0" style="min-width:60px">09:00 AM</td>
                </tr>
                <tr>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="empty-lable bg-white small font-weight-700 border border-white py-0" style="min-width:60px">10:00 AM</td>
                </tr>
                <tr>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="empty-lable bg-white small font-weight-700 border border-white py-0" style="min-width:60px">11:00 AM</td>
                </tr>
                <tr>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="empty-lable bg-white small font-weight-700 border border-white py-0" style="min-width:60px">12:00 PM</td>
                </tr>
                <tr>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="empty-lable bg-white small font-weight-700 border border-white py-0" style="min-width:60px">01:00 PM</td>
                </tr>
                <tr>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="empty-lable bg-white small font-weight-700 border border-white py-0" style="min-width:60px">02:00 PM</td>
                </tr>
                <tr>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="empty-lable bg-white small font-weight-700 border border-white py-0" style="min-width:60px">03:00 PM</td>
                </tr>
                <tr>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="empty-lable bg-white small font-weight-700 border border-white py-0" style="min-width:60px">04:00 PM</td>
                </tr>
                <tr>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="empty-lable bg-white small font-weight-700 border border-white py-0" style="min-width:60px">05:00 PM</td>
                </tr>
                <tr>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="empty-lable bg-white small font-weight-700 border border-white py-0" style="min-width:60px">06:00 PM</td>
                </tr>
                <tr>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="empty-lable bg-white small font-weight-700 border border-white py-0" style="min-width:60px">07:00 PM</td>
                </tr>
                <tr>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="empty-lable bg-white small font-weight-700 border border-white py-0" style="min-width:60px">08:00 PM</td>
                </tr>
                <tr>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="empty-lable bg-white small font-weight-700 border border-white py-0" style="min-width:60px">09:00 PM</td>
                </tr>
                <tr>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="empty-lable bg-white small font-weight-700 border border-white py-0" style="min-width:60px">10:00 PM</td>
                </tr>
                <tr>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.5) !important;"><p class="invisible m-0">10</p></td>
                    <td class="empty-lable bg-white small font-weight-700 border border-white py-0" style="min-width:60px">11:00 PM</td>
                </tr>
                <tr class="text-center">
                    <td class="empty-lable small font-weight-700"><p class="m-0">Mon</p></td>
                    <td class="empty-lable small font-weight-700"><p class="m-0">Tue</p></td>
                    <td class="empty-lable small font-weight-700"><p class="m-0">Wed</p></td>
                    <td class="empty-lable small font-weight-700"><p class="m-0">Thu</p></td>
                    <td class="empty-lable small font-weight-700"><p class="m-0">Fri</p></td>
                    <td class="empty-lable small font-weight-700"><p class="m-0">Sat</p></td>
                    <td class="empty-lable small font-weight-700"><p class="m-0">Sun</p></td>
                    <td class="empty-lable border-0"></td>
                </tr>
            </tbody>
            -->
        </table>
    </div>
    <div class="panel-footer p-0">
        <table id="accessinfodesctable" class="table small font-weight-700">
            <tbody>
                <tr>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.2) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.4) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.6) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,0.8) !important;"><p class="invisible m-0">10</p></td>
                    <td class="bg-secondary small font-weight-700 border border-white p-0" style="background-color: rgba(52,137,223,1) !important;"><p class="invisible m-0">10</p></td>
                    <td class="empty-lable border-0" style="min-width:60px"></td>
                </tr>
                <tr>
                    <td class="empty-lable border-0 m-0 p-0"><p>0%</p></td>
                    <td class="empty-lable border-0 m-0 p-0"><p>20%</p></td>
                    <td class="empty-lable border-0 m-0 p-0"><p>40%</p></td>
                    <td class="empty-lable border-0 m-0 p-0"><p>60%</p></td>
                    <td class="empty-lable border-0 m-0 p-0"><p>80%</p></td>
                    <td class="empty-lable border-0 m-0 p-0"><p>100%</p></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>