<table class="table" style="display: none;">
    <thead class="">
        <tr>
            <th class="">
                {{#str}} rank, local_sitereport {{/str}}
            </th>
            <th class="">
                {{#str}} coursename, local_sitereport {{/str}}
            </th>
            <th class=" text-center">
                {{#str}} enrolments, local_sitereport {{/str}}
            </th>
            <th class=" text-center">
                {{#str}} visits, local_sitereport {{/str}}
            </th>
            <th class=" text-center">
                {{#str}} completions, local_sitereport {{/str}}
            </th>
        </tr>
    </thead>
</table>