<table class="table border-0" style="display: none;">
    <thead class="">
        <tr>
            <th class="border-bottom-0">
                {{#str}} rank, local_edwiserreports {{/str}}
            </th>
            <th class="border-bottom-0">
                {{#str}} coursename, local_edwiserreports {{/str}}
            </th>
            <th class="border-bottom-0 text-center">
                {{#str}} enrolments, local_edwiserreports {{/str}}
            </th>
            <th class="border-bottom-0 text-center">
                {{#str}} visits, local_edwiserreports {{/str}}
            </th>
            <th class="border-bottom-0 text-center">
                {{#str}} completions, local_edwiserreports {{/str}}
            </th>
        </tr>
    </thead>
</table>
