{{#exportlink}}
    {{> report_elucidsitereport/exportdropdown }}
{{/exportlink}}
{{#userfilters}}
    {{> report_elucidsitereport/userfilters }}
{{/userfilters}}

<div id="wdm-activeusers-individual" data-sesskey="{{sesskey}}">
    <div class="table-responsive">
        <div class="loader w-full text-center pt-100 mt-50">
            {{# pix }} loader, report_elucidsitereport{{/ pix }}
        </div>
        <table class="table admintable" style="display: none;">
            <thead>
                <th>{{#str}} date, report_elucidsitereport {{/str}}</th>
                <th>{{#str}} noofactiveusers, report_elucidsitereport {{/str}}</th>
                <th>{{#str}} noofenrolledusers, report_elucidsitereport {{/str}}</th>
                <th>{{#str}} noofcompletedusers, report_elucidsitereport {{/str}}</th>
            </thead>
            <tbody>
                {{#activeusers}}
                <tr>
                    <td>
                        <span class="d-none">{{filter}}</span>
                        {{{date}}}
                    </td>
                    <td>
                        <a href="javascript:void(0)" class="w-full" data-action="activeusers" data-filter="{{filter}}">
                            {{activeusers}}
                        </a>
                    </td>
                    <td>
                    	<a href="javascript:void(0)" class="w-full" data-action="enrolments" data-filter="{{filter}}">
                    		{{courseenrolment}}
                    	</a>
                    </td>
                    <td>
                    	<a href="javascript:void(0)" class="w-full" data-action="completions" data-filter="{{filter}}">
                    		{{coursecompletion}}
                    	</a>
                    </td>
                </tr>
                {{/activeusers}}
            </tbody>
        </table>
    </div>
</div>
