{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    Edwiser RemUI
    @package   theme_remui
    @copyright (c) 2020 WisdmLabs (https://wisdmlabs.com/)
    @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later

}}
{{!
    @template theme_remui/activity_navigation

    Display the activity navigation for all activities in a course

    Context variables required for this template:

    Example context (json):
    {
    }
}}
{{> local_edwiserreports/report-page-header }}
<div id="wdm-activeusers-individual" data-sesskey="{{sesskey}}">
    <div class="alert alert-info alert-block fade in " role="alert" data-aria-autofocus="true">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {{# str }} clicktogetuserslist, local_edwiserreports {{/ str}}
    </div>
    <div id="userfilter" class="h-auto mt-2">
        <div class="row">
            <div class="filter-selector col-12 col-md-3 mb-1">
                {{> local_edwiserreports/datatable/search }}
            </div>
            {{# cohortfilters }}
                <div class="filter-selector col-12 col-md-2 mb-1">
                    <select class="cohort-select form-control singleselect" name="cohort-select">
                        {{#values}}
                            <option value="{{id}}">{{name}}</option>
                        {{/values}}
                    </select>
                </div>
            {{/ cohortfilters }}
            <div class="filter-selector col-12 col-md-3 mb-1">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" id="filter-dropdown" aria-expanded="false">
                    {{# str }} lastweek, local_edwiserreports {{/ str }}
                </button>
                <div class="dropdown-menu dropdown-scrollable" aria-labelledby="filter-dropdown" role="menu">
                    <div class="dropdown-calendar"></div>
                    <div class="dropdown-body">
                            <a class="dropdown-item" href="javascript:void(0)" role="menuitem" value="weekly">
                            {{# str }} lastweek, local_edwiserreports {{/ str }}
                        </a>
                        <a class="dropdown-item" href="javascript:void(0)" role="menuitem" value="monthly">
                            {{# str }} lastmonth, local_edwiserreports {{/ str }}
                        </a>
                        <a class="dropdown-item" href="javascript:void(0)" role="menuitem" value="yearly">
                            {{# str }} lastyear, local_edwiserreports {{/ str }}
                        </a>
                        <input class="dropdown-item border-0 custom d-none d-md-block" id="flatpickrCalender-activeusers" placeholder="{{# str }} custom, local_edwiserreports{{/ str }}"  data-input/>
                    </div>
                </div>
            </div>
            <div class="filter-selector col-12 col-md-3 mb-1 ml-auto">
                {{> local_edwiserreports/datatable/length }}
            </div>
        </div>
    </div>
    <div class="table-responsive">
        {{> local_edwiserreports/activeuserstable }}
    </div>
    {{# export }}
        <div class="pull-right px-5">
            {{> local_edwiserreports/exportreports }}
        </div>
    {{/ export }}
</div>
