<table class="table" style="display: none;">
    <thead class="bg-secondary">
        <tr>
            <th class="bg-secondary bg-image-none no-sorting-arrow border-bottom-0">
                {{#str}} rank, report_elucidsitereport {{/str}}
            </th>
            <th class="bg-secondary bg-image-none no-sorting-arrow border-bottom-0">
                {{#str}} coursename, report_elucidsitereport {{/str}}
            </th>
            <th class="bg-secondary bg-image-none no-sorting-arrow border-bottom-0 text-center">
                {{#str}} enrolments, report_elucidsitereport {{/str}}
            </th>
            <th class="bg-secondary bg-image-none no-sorting-arrow border-bottom-0 text-center">
                {{#str}} visits, report_elucidsitereport {{/str}}
            </th>
            <th class="bg-secondary bg-image-none no-sorting-arrow border-bottom-0 text-center">
                {{#str}} completions, report_elucidsitereport {{/str}}
            </th>
        </tr>
    </thead>
</table>