<div id="activeusersblock" class="">
    <div class="panel h-auto">
        <div class="panel-header clearfix">
            <div class="panel-title px-0">
                <strong>
                    {{#str}} activeusersheader, report_elucidsitereport {{/str}}
                    <a href="#" class="small"><i class="fa fa-question-circle"></i></a>
                </strong>
                <div class="row mx-0">
                    <small class="col-8 px-0">Updated at 10:25</small>
                    <div class="dropdown col-4 text-right">
                        <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">ALL</button>
                        <div class="dropdown-menu dropdown-sm" role="menu">
                            <a class="active dropdown-item" href="javascript:void(0)" role="menuitem">ALL</a>
                            <a class="dropdown-item" href="javascript:void(0)" role="menuitem">LAST WEEK</a>
                            <a class="dropdown-item" href="javascript:void(0)" role="menuitem">LAST MONTH</a>
                            <a class="dropdown-item" href="javascript:void(0)" role="menuitem">LAST YEAR</a>
                            <a class="dropdown-item" href="javascript:void(0)" role="menuitem">LAST 5 YEAR</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body p-0">
            <canvas class="ct-chart line-chart" style="max-height: 350px;"></canvas>
        </div>
    </div>
</div>