<div id="activeusersblock" class="">
    <div class="panel h-auto">
        <div class="panel-header clearfix">
            <div class="panel-title px-0">
                <strong>
                    {{#str}} activeusersheader, report_elucidsitereport {{/str}}
                    <a href="javascript:void(0)" class="small" data-toggle="tooltip" data-trigger="hover" data-title="{{#str}} activeusersblockhelp, report_elucidsitereport {{/str}}">
                        <i class="fa fa-question-circle"></i>
                    </a>
                </strong>
                <div class="mx-0">
                    <div id="updated-time" class="font-size-12 px-0 pull-left">
                        {{#str}} lastupdate, report_elucidsitereport {{/str}}
                        <i class="refresh fa fa-refresh mx-5"></i>
                    </div>
                    <div class="filters ml-auto pull-right">
                        {{> report_elucidsitereport/activeusers_filter }}
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body p-0">
            <div class="loader w-full text-center py-100 my-50">
                {{# pix }} loader, report_elucidsitereport{{/ pix }}
            </div>
            <canvas class="ct-chart line-chart d-none"></canvas>
        </div>
        <div class="panel-footer p-0">
        </div>
    </div>
</div>
