<form action="javascript:void(0);">
    <div class="">
        <div class="dropdown">
            <button type="button" class="btn btn-sm dropdown-toggle input-group-addon" data-toggle="dropdown" aria-expanded="false">
                {{#str}} lastweek, report_elucidsitereport {{/str}}
            </button>
            <div class="dropdown-menu dropdown-menu-right" role="menu">
                <div id="activeUser-calendar" class="dropdown-calendar"></div>
                <div class="dropdown-body">
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem" value="weekly">
                        {{#str}} lastweek, report_elucidsitereport {{/str}}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem" value="monthly">
                        {{#str}} lastmonth, report_elucidsitereport {{/str}}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem" value="yearly">
                        {{#str}} lastyear, report_elucidsitereport {{/str}}
                    </a>
                    <input class="dropdown-item border-0 custom" id="flatpickrCalender" placeholder="{{#str}} custom, report_elucidsitereport{{/str}}" data-input/>
                </div>
            </div>
        </div>
    </div>
</form>