<form action="#" class="mform">
    <div class="form-group row fitem">
        <div class="col-md-6">
            <label class="col-form-label d-inline " for="id_fullname">
                {{#str}} desktopview, local_edwiserreports {{/str}}
            </label>
        </div>
        <div class="col-md-6 form-inline felement" data-fieldtype="text" id="yui_3_17_2_1_1600336598544_278">
            <select class="form-control">
                <option>{{#str}} large, local_edwiserreports {{/str}}</option>
                <option>{{#str}} medium, local_edwiserreports {{/str}}</option>
                <option>{{#str}} small, local_edwiserreports {{/str}}</option>
            </select>
        </div>
    </div>
    <div class="form-group row fitem">
        <div class="col-md-6">
            <label class="col-form-label d-inline " for="id_fullname">
                {{#str}} tabletview, local_edwiserreports {{//str}}
            </label>
        </div>
        <div class="col-md-6 form-inline felement" data-fieldtype="text" id="yui_3_17_2_1_1600336598544_278">
            <select class="form-control">
                <option>{{#str}} large, local_edwiserreports {{/str}}</option>
                <option>{{#str}} medium, local_edwiserreports {{/str}}</option>
            </select>
        </div>
    </div>
</form>
