<div id="overallengagement" class="panel">
    <div class="panel-header clearfix">
        <div class="panel-title px-0">
            <strong>
                {{#str}} overallengagementheader, report_elucidsitereport {{/str}}
                <a href="#" class="small"><i class="fa fa-question-circle"></i></a>
            </strong>
        </div>
    </div>
    <div class="panel-body p-0">
        <table class="table">
            <thead class="bg-secondary">
                <tr>
                    <th>Course Name</th>
                    <th class="text-center"># Enrolments</th>
                    <th class="text-center"># Visited</th>
                    <th class="text-center"># Not Visited</th>
                    <th class="text-center"># Completed</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Coures 1</td>
                    <td class="text-center">23</td>
                    <td class="text-center">17</td>
                    <td class="text-center">5</td>
                    <td class="text-center"><span class="bar">4,5</span></td>
                </tr>
                <tr>
                    <td>Course 2</td>
                    <td class="text-center">23</td>
                    <td class="text-center">17</td>
                    <td class="text-center">5</td>
                    <td class="text-center">5</td>
                </tr>
                <tr>
                    <td>Course 3</td>
                    <td class="text-center">23</td>
                    <td class="text-center">17</td>
                    <td class="text-center">5</td>
                    <td class="text-center">5</td>
                </tr>
                <tr>
                    <td>Course 4</td>
                    <td class="text-center">23</td>
                    <td class="text-center">17</td>
                    <td class="text-center">5</td>
                    <td class="text-center">5</td>
                </tr>
                <tr>
                    <td>Course 5</td>
                    <td class="text-center">23</td>
                    <td class="text-center">17</td>
                    <td class="text-center">5</td>
                    <td class="text-center">5</td>
                </tr>
                <tr>
                    <td>Course 6</td>
                    <td class="text-center">23</td>
                    <td class="text-center">17</td>
                    <td class="text-center">5</td>
                    <td class="text-center">5</td>
                </tr>
                <tr>
                    <td>Course 7</td>
                    <td class="text-center">23</td>
                    <td class="text-center">17</td>
                    <td class="text-center">5</td>
                    <td class="text-center">5</td>
                </tr>
            </tbody>
      </table>
    </div>
</div>