<div id="courseprogressblock" class="">
    <div class="panel h-auto mb-0">
        <div class="panel-header clearfix">
            <div class="panel-title px-0">
                <strong>
                    {{#str}} courseprogress, report_elucidsitereport {{/str}}
                    <a href="#" class="small"><i class="fa fa-question-circle"></i></a>
                </strong>
            </div>
        </div>
        <div class="panel-body p-0">
            <select id="wdm-courseprogress-select" class="form-control singleselect w-full" name="state">
                {{#courses}}
                <option value="{{id}}">{{fullname}}</option>
                {{/courses}}
            </select>
            <div class="loader w-full text-center py-100 my-50">
                {{# pix }} loader, report_elucidsitereport{{/ pix }}
            </div>
            <canvas class="ct-chart d-none"></canvas>
        </div>
        <div class="text-right">
            <a href="{{courseprogresslink}}" class="text-primary">
                {{#str}} more, report_elucidsitereport {{/str}}
            </a>
        </div>
    </div>
</div>