<div id="liveusersblock" data-sesskey="{{sesskey}}">
    <div class="panel h-auto">
        <div class="panel-header clearfix">
            <div class="panel-title px-0">
                <strong>
                    {{#str}} realtimeusers, report_elucidsitereport {{/str}}
                    <a href="javascript:void(0)"
                        class="small"
                        data-toggle="tooltip"
                        data-trigger="hover"
                        data-placement="bottom"
                        title="{{#str}} realtimeusersblockhelp, report_elucidsitereport {{/str}}">
                        <i class="fa fa-question-circle"></i>
                    </a>
                </strong>
            </div>
        </div>
        <div class="panel-body p-0 table-responsive">
            <div class="loader w-full text-center py-100 my-50">
                {{# pix }} loader, report_elucidsitereport{{/ pix }}
            </div>
            <table class="table w-full mx-0" style="display: none;">
                <thead class="bg-secondary">
                    <tr>
                        <th class="bg-secondary bg-image-none no-sorting-arrow border-bottom-0">
                            {{#str}} fullname, report_elucidsitereport {{/str}}
                        </th>
                        <th class="bg-secondary bg-image-none no-sorting-arrow border-bottom-0 text-center">
                            {{#str}} onlinesince, report_elucidsitereport {{/str}}
                        </th>
                        <th class="bg-secondary bg-image-none no-sorting-arrow border-bottom-0 text-center">
                            {{#str}} status, report_elucidsitereport {{/str}}
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>