<div id="mostactivecourses" data-sesskey="{{sesskey}}">
    <div class="panel">
        <div class="panel-header clearfix">
            <div class="panel-title px-0">
                <strong>
                    {{#str}} mostactiveusersheader, report_elucidsitereport {{/str}}
                    <a href="#" class="small"><i class="fa fa-question-circle"></i></a>
                </strong>
            </div>
            <div class="table-dropdown" style="display: none;">
                {{#exportlinks}}
                    {{#blockactivecourses}}
                        {{> report_elucidsitereport/exportdropdown }}
                    {{/blockactivecourses}}
                {{/exportlinks}}
            </div>
        </div>
        <div class="panel-body p-0">
            <div class="loader w-full text-center py-100 my-50">
                {{# pix }} loader, report_elucidsitereport{{/ pix }}
            </div>
            <table class="table w-full d-none">
                <thead class="bg-secondary">
                    <tr>
                        <th class="bg-secondary bg-image-none no-sorting-arrow border-bottom-0 px-10">
                            {{#str}} rank, report_elucidsitereport {{/str}}
                        </th>
                        <th class="bg-secondary bg-image-none no-sorting-arrow border-bottom-0">
                            {{#str}} coursename, report_elucidsitereport {{/str}}
                        </th>
                        <th class="bg-secondary bg-image-none no-sorting-arrow border-bottom-0 text-center">
                            {{#str}} enrolments, report_elucidsitereport {{/str}}
                        </th>
                        <th class="bg-secondary bg-image-none no-sorting-arrow border-bottom-0 text-center">
                            {{#str}} visits, report_elucidsitereport {{/str}}
                        </th>
                        <th class="bg-secondary bg-image-none no-sorting-arrow border-bottom-0 text-center">
                            {{#str}} completions, report_elucidsitereport {{/str}}
                        </th>
                    </tr>
                </thead>
          </table>
        </div>
    </div>
</div>