<div id="courseprogressblock" data-sesskey="{{sesskey}}">
    <div class="panel h-auto mb-0">
        <div class="panel-header clearfix">
            <div class="panel-title px-0">
                <strong>
                    {{#str}} courseprogress, report_elucidsitereport {{/str}}
                    <a href="javascript:void(0)"
                        class="small"
                        data-toggle="tooltip"
                        data-trigger="hover"
                        data-placement="bottom"
                        title="{{#str}} courseprogressblockhelp, report_elucidsitereport {{/str}}">
                        <i class="fa fa-question-circle"></i>
                    </a>
                </strong>
            </div>
            {{#exportlinks}}
                {{#blockcourseprogress}}
                    {{> report_elucidsitereport/exportdropdown }}
                {{/blockcourseprogress}}
            {{/exportlinks}}
        </div>
        <div class="panel-body p-0">
            {{#hascourses}}
            <select id="wdm-courseprogress-select" class="form-control singleselect w-full" name="state">
                {{#courses}}
                <option value="{{id}}">{{fullname}}</option>
                {{/courses}}
            </select>
            <div class="loader w-full text-center py-100 my-50">
                {{# pix }} loader, report_elucidsitereport{{/ pix }}
            </div>
            <canvas class="ct-chart"></canvas>
            {{/hascourses}}
            {{^hascourses}}
                <div class="pie-placeholder position-relative mt-50">
                    {{# pix }} pie-placeholder, report_elucidsitereport{{/ pix }}
                    <div class="position-absolute w-full" style="top: 45%;">
                        <div class="alert alert-secondary text-center w-full" role="alert">
                            {{#str}} nocourses, report_elucidsitereport {{/str}}
                        </div>
                    </div>
                </div>
            {{/hascourses}}
        </div>
        {{#hascourses}}
        <div class="text-right">
            <a href="{{courseprogresslink}}" class="text-primary">
                {{#str}} more, report_elucidsitereport {{/str}}
            </a>
        </div>
        {{/hascourses}}
    </div>
</div>