<div id="mostactivecourses">
    <div class="panel">
        <div class="panel-header clearfix">
            <div class="panel-title px-0">
                <strong>
                    {{#str}} mostactiveusersheader, report_elucidsitereport {{/str}}
                    <a href="#" class="small"><i class="fa fa-question-circle"></i></a>
                </strong>
            </div>
        </div>
        <div class="panel-body p-0">
            <div class="loader w-full text-center py-100 my-50">
                {{# pix }} loader, report_elucidsitereport{{/ pix }}
            </div>
            <table class="table w-full d-none">
                <thead class="bg-secondary">
                    <tr>
                        <th class="bg-secondary border-bottom-0">Rank</th>
                        <th class="bg-secondary border-bottom-0">Course Name</th>
                        <th class="bg-secondary border-bottom-0 text-center">Enrolments</th>
                        <th class="bg-secondary border-bottom-0 text-center">Visits</th>
                        <th class="bg-secondary border-bottom-0 text-center">Completions</th>
                    </tr>
                </thead>
          </table>
        </div>
    </div>
</div>