<div id="lpstatsblock" class="panel h-auto" data-sesskey="{{sesskey}}">
    <div class="panel-header clearfix">
        <div class="panel-title px-0">
            <strong>
                {{#str}} lpstatsheader, report_elucidsitereport {{/str}}
                <a href="#" class="small"><i class="fa fa-question-circle"></i></a>
            </strong>
        </div>
        {{#exportlinks}}
            {{#blocklpstats}}
                {{> report_elucidsitereport/exportdropdown }}
            {{/blocklpstats}}
        {{/exportlinks}}
    </div>
    <div class="panel-body p-0">
        <select id="wdm-lpstats-select" class="form-control singleselect w-full" name="state">
                {{#lps}}
                <option value="{{id}}">{{fullname}}</option>
                {{/lps}}
            </select>
        <div class="loader w-full text-center py-100">
            {{# pix }} loader, report_elucidsitereport{{/ pix }}
        </div>
        <canvas class="ct-chart d-none"></canvas>
    </div>
    <div class="text-right">
        <a href="{{lpstatslink}}" class="text-primary">
            {{#str}} more, report_elucidsitereport {{/str}}
        </a>
    </div>
</div>