<div id="customReportBlock" data-sesskey="{{sesskey}}">
    <div class="panel h-auto mb-0">
        <div class="panel-header clearfix">
            <div class="panel-title px-0">
                <strong>
                    {{#str}} downloadcustomtreport, report_elucidsitereport {{/str}}
                </strong>
            </div>
        </div>
        <div class="panel-body p-0">
            <table class="wdmCustomReportsFilters">
                <tr>
                    <td>
                        <b>{{#str}} selectreporttype, report_elucidsitereport {{/str}}</b>
                    </td>
                    {{! Dropdown to get reports type }}
                    <td class="dropdown">
                        <button type="button"
                                class="btn btn-default dropdown-toggle mb-5"
                                id="customReportDrodown"
                                data-toggle="dropdown"
                                aria-expanded="true"
                                data-val="course">
                                {{#str}} select, report_elucidsitereport {{/str}}
                        </button>
                        <div class="dropdown-menu"
                             aria-labelledby="customReportDrodown"
                             role="menu"
                             x-placement="top-start">
                            <a class="dropdown-item" href="javascript:void(0)" role="menuitem" data-val="courses">
                                {{#str}} courses, report_elucidsitereport {{/str}}
                            </a>
                            {{#haslppluign}}
                            <a class="dropdown-item" href="javascript:void(0)" role="menuitem" data-val="lps">
                                {{#str}} learningprograms, report_elucidsitereport {{/str}}
                            </a>
                            {{/haslppluign}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>{{#str}} enrolmentdaterange, report_elucidsitereport {{/str}}</b>
                    </td>
                    <td>
                        {{! Flatpicker to select date range }}
                        <input id="wdmCustomReportRangeSelector" class="w-200" placeholder="{{#str}} selectdaterange, report_elucidsitereport{{/str}}"  data-input/>
                    </td>
                </tr>
            </table>

            {{! Actual panel body }}
            <div class="rootContainer" style="display: none;">
                <div class="customReportSelectors mt-10">
                    {{! Course table }}
                    <table class="table course-table w-full">
                        <thead>
                            <th class="bg-secondary">
                                <span class="checkbox-custom"><input type="checkbox" name="selectAllCustom"><label class="selectAllCustomReports" for="selectAllCustom"></label></span>
                            </th>
                            <th class="bg-secondary">
                                {{#str}} name , report_elucidsitereport {{/str}}
                            </th>
                            <th class="bg-secondary">
                                {{#str}} shortname , report_elucidsitereport {{/str}}
                            </th>
                            <th class="bg-secondary">
                                {{#str}} category , report_elucidsitereport {{/str}}
                            </th>
                            <th class="bg-secondary">
                                {{#str}} startdate , report_elucidsitereport {{/str}}
                            </th>
                            <th class="bg-secondary">
                                {{#str}} enddate , report_elucidsitereport {{/str}}
                            </th>
                        </thead>
                        <tbody></tbody>
                    </table>

                    {{! Leanring Program }}
                    <table class="table lp-table w-full">
                        <thead>
                            <th class="bg-secondary">
                                <span class="checkbox-custom"><input type="checkbox" name="selectAllCustom"><label class="selectAllCustomReports" for="selectAllCustom"></label></span>
                            </th>
                            <th class="bg-secondary">
                                {{#str}} name , report_elucidsitereport {{/str}}
                            </th>
                            <th class="bg-secondary">
                                {{#str}} shortname , report_elucidsitereport {{/str}}
                            </th>
                            <th class="bg-secondary">
                                {{#str}} startdate , report_elucidsitereport {{/str}}
                            </th>
                            <th class="bg-secondary">
                                {{#str}} enddate , report_elucidsitereport {{/str}}
                            </th>
                            <th class="bg-secondary">
                                {{#str}} duration , report_elucidsitereport {{/str}}
                            </th>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="text-right mt-10">
                    <form action="#" method="post" id="customReportsForm" class="hidden">
                        <input type="text" name="enrolstartdate"/>
                        <input type="text" name="enrolenddate"/>
                    </form>
                    <button id="customReportDownload" class="btn btn-secondary">
                        {{#str}} downloadreportincsv , report_elucidsitereport {{/str}}
                    </button>
                </div>
            </div>
            <div id="errorMsg" class="alert alert-danger fade hide mt-10" role="alert">
                {{#str}} customreportfailed, report_elucidsitereport {{/str}}
            </div>
        </div>
    </div>
</div>

{{#js}}
require([
    'jquery',
    'report_elucidsitereport/defaultconfig',
    'report_elucidsitereport/variables',
    'report_elucidsitereport/flatpickr',
    'report_elucidsitereport/jquery.dataTables',
    'report_elucidsitereport/dataTables.bootstrap4'
], ($, config, v) => {
    /**
     * Selector datable variable
     * @type {object | null}
     */
    let selectorTable = null;

    /**
     * Get panel of custom reports block
     * @type {string}
     */
    const panel = config.getPanel("#customReportBlock");

    /**
     * Report type selector
     * @type {string}
     */
    const reportSelector = `${panel} .dropdown-menu .dropdown-item`

    /**
     * Report type selector
     * @type {string}
     */
    let selectorType = `courses`

    /**
     * Custom report download button
     * @type {string}
     */
    let downloadBtn =  `${panel} #customReportDownload`

    /**
     * Custom Report Download Dropdown
     * @type {object}
     */
    let customDropdown = $(panel).find('#customReportDrodown')

    /**
     * Custom Reports form
     * @type {object}
     */
    let reportForm = $(panel).find('#customReportsForm')

    /**
     * Loader to download reports
     * @type {String}
     */
    let windowLoader = '<div id="cover-spin"></div>';

    /**
     * Selected Checkboxes
     * @type {object}
     */
    let getCheckboxesSelector = (tableSelector) => {
        return `${panel} ${tableSelector} input[name^=customReportSelect-]`
    }

    /*
     * Get custom report selectors
     * It may be courses of learning program
     * Courses | Learning Programs
     */
    const getCustomReportSelector = (selectedDates, dateStr, instance) => {
        if (selectedDates.length == 2) {
            // Get starttime and end time
            let startTime = selectedDates[0].getTime()
            let endTime = selectedDates[1].getTime()

            // Set form value startdate and enddate
            reportForm.find('input[name=enrolstartdate]').val(startTime / 1000)
            reportForm.find('input[name=enrolenddate]').val(endTime / 1000)
        }
    }

    /**
     * Get datatable config for report
     * @param  {string} selectorType Report Type
     * @return {object}            Datatable config
     */
    const getDatatableConfig = (selectorType) => {
        if (selectorType == 'lps') {
            return {
                "columns" : [
                    { "data": "select"},
                    { "data": "fullname" },
                    { "data": "shortname" },
                    { "data": "startdate" },
                    { "data": "enddate" },
                    { "data": "duration" },
                ],
                "language" : {
                    "searchPlaceholder": "Search Learning Programs",
                    "emptyTable": "There are no learning programs"
                }
            }
        } else {
            return {
                "columns" : [
                    { "data": "select"},
                    { "data": "fullname" },
                    { "data": "shortname" },
                    { "data": "category" },
                    { "data": "startdate" },
                    { "data": "enddate" },
                ],
                "language" : {
                    "searchPlaceholder": "Search courses",
                    "emptyTable": "There are no courses"
                }
            }
        }
    }

    /**
     * Creat Selector Table to select courses/lps
     * @param  {string} type      Selector type courses/lps
     * @param  {int} startdate    Enrolment Start Date
     * @param  {int} enddate      Enrolment End Date
     */
    let createSelectorTable = (type, tableSelectorClass) => {
        // If table is already there then remove table
        if (selectorTable) {
            selectorTable.destroy()
        }

        $(`${panel} input[name="selectAllCustom"]`).prop("checked", false)

        // Custom Report Selector Body
        const customReportSelectors = $(panel).find('.customReportSelectors')
        const rootContainer = $(panel).find('.rootContainer')

        // Prepare filter to get selectors data
        let filter = JSON.stringify({
            type : type
        })

        // Prepare url to get selector related data
        let url = `${v.requestUrl}?action=get_customreport_selectors_ajax&sesskey={{sesskey}}&filter=${filter}`

        // Show custom report selectors
        rootContainer.show();

        // Get dataTable config
        let dtConfig = getDatatableConfig(type)

        // Get all courses/learningprogram
        selectorTable = customReportSelectors.find(tableSelectorClass).show().DataTable( {
            ajax : url,
            columns : dtConfig.columns,
            language: dtConfig.language,
            responsive : true,
            scrollY : "380px",
            scroller: {
                loadingIndicator: true
            },
            scrollCollapse : true,
            scrollX: true,
            paging: false,
            bInfo : false,
            bSort : false
        }).columns.adjust();
    }

    /**
     *  Create flatpicker to select custom date range
     */
    $(panel).find('#wdmCustomReportRangeSelector').flatpickr({
        mode: 'range',
        altInput: true,
        altFormat: "d/m/Y",
        dateFormat: "Y-m-d",
        maxDate: "today",
        onChange: getCustomReportSelector
    })

    /**
     * Check all courses/lps
     * @param  {String} document).on('change', `${panel}   input[name [description]
     * @return {[type]}                        [description]
     */
    $(document).on('change', `${panel} input[name="selectAllCustom"]`, (event) => {
        // Get table selector
        let tableSelectorClass = '.course-table'
        if (selectorType == 'lps') {
            tableSelectorClass = '.lp-table'
        }

        // Get checkboxes
        let checkboxes = getCheckboxesSelector(tableSelectorClass)
        if ($(event.target).is(':checked')) {
            $(checkboxes).prop("checked", true)
        } else {
            $(checkboxes).prop("checked", false)
        }
    })

    /**
     * Get courses/lps when dropdown selected 
     */
    $(document).on('click', reportSelector, (event) => {
        let dropdown = $(event.target).closest('.dropdown')
        selectorType = $(event.target).data('val')

        // Set dropdown value
        customDropdown.html($(event.target).html())
        customDropdown.data('val', selectorType)

        // Get table selector
        let tableSelectorClass = '.course-table'
        if (selectorType == 'lps') {
            tableSelectorClass = '.lp-table'
        }
        
        // Hide table in panel body
        $(panel).find('.table').hide()

        // Create table for selectors table
        createSelectorTable(selectorType, tableSelectorClass)
    })

    /**
     * Download reports in csv format
     */
    $(document).on('click', downloadBtn, (event) => {
        // Get table selector
        let tableSelectorClass = '.course-table'
        if (selectorType == 'lps') {
            tableSelectorClass = '.lp-table'
        }

        // Get checkboxes
        let checkboxes = getCheckboxesSelector(tableSelectorClass)

        // If no data selected
        if (!$(`${checkboxes}:checked`).length) {
            $(panel).find('#errorMsg').addClass('show').removeClass('hide');
            setTimeout(() => {
                $(panel).find('#errorMsg').addClass('hide').removeClass('show');
            }, 5000)
            return false;
        }

        // Add cover spin when trying to download reports
        if (!$(document).find('#cover-spin').length) {
            $("body").append(windowLoader);
        }

        // Show cover spin
        $(document).find('#cover-spin').show(0);

        // Get all id filters
        filters = [];

        $(`${checkboxes}:checked`).each((idx, ele) => {
            filters.push($(ele).data('id'))
        })

        // Get startdate and end date
        let startdate = reportForm.find('input[name=enrolstartdate]').val()
        let enddate = reportForm.find('input[name=enrolenddate]').val()

        // Ajax call to get reports
        $.ajax({
            url: config.requestUrl,
            type: config.requestType,
            dataType: config.requestDataType,
            data: {
                action: 'get_customreport_data_ajax',
                sesskey: '{{sesskey}}',
                data: JSON.stringify({
                    type : customDropdown.data('val'),
                    filters : filters,
                    startdate : startdate.length ? startdate : null,
                    enddate : enddate.length ? enddate : null
                })
            },
        })
        .done(function(response) {
            if (response.status) {
                // File name
                let date = v.formatDate(new Date(), "d_MMM_yyyy")
                let filename = `report_${selectorType}_${date}.csv`

                // Download file in csv format
                config.download(response.data, filename, 'text/csv;encoding:utf-8');
            }
        })
        .fail(function(error) {
            console.log(error)
        }).always(function() {
            $(document).find('#cover-spin').hide();
        })
    })
})
{{/js}}