<div id="certificatestatsblock" class="panel h-auto" data-sesskey="{{sesskey}}">
    <div class="panel-header clearfix">
        <div class="panel-title px-0">
            <strong>
                {{#str}} certificatestats, report_elucidsitereport {{/str}}
                <a href="#" class="small"><i class="fa fa-question-circle"></i></a>
            </strong>
        </div>
        <div class="table-dropdown" style="display: none;">
            {{#exportlinks}}
                {{#blockcertificates}}
                    {{> report_elucidsitereport/exportdropdown }}
                {{/blockcertificates}}
            {{/exportlinks}}
        </div>
    </div>
    <div class="panel-body p-0">
        <div class="loader w-full text-center py-100 my-50">
            {{# pix }} loader, report_elucidsitereport{{/ pix }}
        </div>
    </div>
    <div class="panel-footer p-0">
        <div class="text-right">
            <a href="{{certificateslink}}" class="text-primary">
                {{#str}} more, report_elucidsitereport {{/str}}
            </a>
        </div>
    </div>
</div>