<div class="dropdown blocksetting">
    <a href="#" tabindex="0" class=" dropdown-toggle icon-no-margin" id="blocksetting-{{id}}" data-toggle="dropdown">
        <i class="icon fa fa-cog fa-fw " title="Actions menu" aria-label="Actions menu"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right menu align-tr-br" aria-labelledby="blocksetting-{{id}}">
        <div class="dropdown-item">
            <a href="#" class="">
                {{#str}} editblockview, report_elucidsitereport {{/str}}
            </a>
        </div>
        <div class="dropdown-item">
            <a href="#" class="">
                {{#str}} hide, report_elucidsitereport {{/str}}
            </a>
        </div>
        <div class="dropdown-item">
            <a href="#" class="">
                {{#str}} editcapability, report_elucidsitereport {{/str}}
            </a>
        </div>
    </div>
</div>