<div id="accessinfograph" class="panel h-auto" data-sesskey="{{sesskey}}">
    <div class="panel-header clearfix">
        <div class="panel-title px-0">
            <strong>
                {{#str}} accessinfo, report_elucidsitereport {{/str}}
                <a href="javascript:void(0)"
                    class="small"
                    data-toggle="tooltip"
                    data-trigger="hover"
                    data-placement="bottom"
                    title="{{#str}} accessinfoblockhelp, report_elucidsitereport {{/str}}">
                    <i class="fa fa-question-circle"></i>
                </a>
            </strong>
        </div>
    </div>
    <div class="panel-body overflow-scroll p-0">
        <div class="loader w-full text-center py-100 my-50">
            {{# pix }} loader, report_elucidsitereport{{/ pix }}
        </div>
        <table id="accessinfotable" class="table d-none">
            <tbody class="small">
                {{#siteaccess}}
                {{#.}}
                <tr class="siteaccess-tablerow">
                        {{#access}}
                            <td class="bg-secondary small font-weight-700 border border-white p-0"
                            data-toggle="tooltip"
                            title="{{#str}} siteaccessinfo , report_elucidsitereport, {{/str}} {{value}}"
                            style="background-color: rgba(52,137,223,{{opacity}}) !important;">
                                <p class="m-0 d-none">{{value}}</p>
                            </td>
                        {{/access}}
                        {{#time}}
                        <td class="empty-label siteacess-time bg-white small font-weight-700 border border-white py-0">{{.}}</td>
                        {{/time}}
                </tr>
                {{/.}}
                {{/siteaccess}}

                <tr class="text-center">
                    <td class="empty-label small font-weight-700 border-0">
                        <p class="m-0">
                        {{#str}} sun, report_elucidsitereport {{/str}}
                    </p>
                    </td>
                    <td class="empty-label small font-weight-700 border-0">
                        <p class="m-0">
                        {{#str}} mon, report_elucidsitereport {{/str}}
                    </p>
                    </td>
                    <td class="empty-label small font-weight-700 border-0">
                        <p class="m-0">
                        {{#str}} tue, report_elucidsitereport {{/str}}
                    </p>
                    </td>
                    <td class="empty-label small font-weight-700 border-0">
                        <p class="m-0">
                        {{#str}} wed, report_elucidsitereport {{/str}}
                    </p>
                    </td>
                    <td class="empty-label small font-weight-700 border-0">
                        <p class="m-0">
                        {{#str}} thu, report_elucidsitereport {{/str}}
                    </p>
                    </td>
                    <td class="empty-label small font-weight-700 border-0">
                        <p class="m-0">
                        {{#str}} fri, report_elucidsitereport {{/str}}
                    </p>
                    </td>
                    <td class="empty-label small font-weight-700 border-0">
                        <p class="m-0">
                        {{#str}} sat, report_elucidsitereport {{/str}}
                    </p>
                    </td>
                    <td class="empty-label border-0"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer p-0">
        <table id="accessinfodesctable" class="table small font-weight-700" style="display: none;">
            <tbody>
                <tr>
                    <td class="color-label-20 bg-secondary small font-weight-700 border border-white p-0">
                        <p class="invisible m-0">0</p>
                    </td>
                    <td class="color-label-40 bg-secondary small font-weight-700 border border-white p-0">
                        <p class="invisible m-0">0</p>
                    </td>
                    <td class="color-label-60 bg-secondary small font-weight-700 border border-white p-0">
                        <p class="invisible m-0">0</p>
                    </td>
                    <td class="color-label-80 bg-secondary small font-weight-700 border border-white p-0">
                        <p class="invisible m-0">0</p>
                    </td>
                    <td class="color-label-100 bg-secondary small font-weight-700 border border-white p-0">
                        <p class="invisible m-0">0</p>
                    </td>
                    <td class="color-label empty-label border-0"></td>
                </tr>
                <tr>
                    <td class="empty-label border-0 m-0 p-0">
                        <p class="position-relative">0%</p>
                    </td>
                    <td class="empty-label border-0 m-0 p-0">
                        <p class="position-relative">20%</p>
                    </td>
                    <td class="empty-label border-0 m-0 p-0">
                        <p class="position-relative">40%</p>
                    </td>
                    <td class="empty-label border-0 m-0 p-0">
                        <p class="position-relative">60%</p>
                    </td>
                    <td class="empty-label border-0 m-0 p-0">
                        <p class="position-relative">80%</p>
                    </td>
                    <td class="empty-label border-0 m-0 p-0">
                        <p class="position-relative">100%</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>