<div id="inactiveusersblock" class="panel h-auto" data-sesskey="{{sesskey}}">
    <div class="panel-header row mx-0">
        <div class="panel-title px-0 col-lg-6 col-md-6 col-sm-12">
            <strong>
                {{#str}} inactiveusers, report_elucidsitereport {{/str}}
                <a href="javascript:void(0)"
                    class="small"
                    data-toggle="tooltip"
                    data-trigger="hover"
                    data-placement="bottom"
                    title="{{#str}} inactiveusersblockhelp, report_elucidsitereport {{/str}}">
                    <i class="fa fa-question-circle"></i>
                </a>
            </strong>
        </div>
        <div class="panel-title dropdown col-lg-6 col-md-6 col-sm-12 text-right px-0">
            <small class="font-weight-500 font-size-12">
                {{#str}} siteaccess, report_elucidsitereport {{/str}}
            </small>
            <button type="button" class="btn btn-sm dropdown-toggle input-group-addon" data-toggle="dropdown" aria-expanded="false">Never</button>
            <div class="dropdown-menu dropdown-sm" role="menu">
                <a class="active dropdown-item" href="javascript:void(0)" data-value="never"  role="menuitem">
                    {{#str}} never, report_elucidsitereport {{/str}}
                </a>
                <a class="dropdown-item" href="javascript:void(0)" data-value="1month" role="menuitem">
                    {{#str}} before1month, report_elucidsitereport {{/str}}
                </a>
                <a class="dropdown-item" href="javascript:void(0)"data-value="3month"  role="menuitem">
                    {{#str}} before2month, report_elucidsitereport {{/str}}
                </a>
                <a class="dropdown-item" href="javascript:void(0)"data-value="6month"  role="menuitem">
                    {{#str}} before3month, report_elucidsitereport {{/str}}
                </a>
            </div>
        </div>
    </div>
    <div class="panel-body p-0">
        <div class="loader w-full text-center py-100 my-50">
            {{# pix }} loader, report_elucidsitereport{{/ pix }}
        </div>
        <div class="table-responsive w-full">
            <table id="inactiveuserstable" class="table d-none">
                <thead class="bg-secondary">
                  <tr>
                    <th class="bg-secondary bg-image-none no-sorting-arrow border-bottom-0">Full Name</th>
                    <th class="d-none d-sm-none d-md-table-cell d-lg-table-cell bg-secondary bg-image-none no-sorting-arrow border-bottom-0">Email</th>
                    <th class="bg-secondary bg-image-none no-sorting-arrow border-bottom-0">Last Access</th>
                  </tr>
                </thead>
            </table>
        </div>
    </div>
</div>