<div id="liveusersblock" data-sesskey="{{sesskey}}">
    <div class="panel h-auto">
        <div class="panel-header clearfix">
            <div class="panel-title px-0">
                <strong>
                    {{#str}} realtimeusers, report_elucidsitereport {{/str}}
                    <a href="#" class="small"><i class="fa fa-question-circle"></i></a>
                </strong>
            </div>
        </div>
        <div class="panel-body p-0 table-responsive">
            <div class="loader w-full text-center pt-100 mt-50" style="min-height: 250px;">
                {{# pix }} loader, report_elucidsitereport{{/ pix }}
            </div>
            <table class="table d-none w-full mx-0">
                <thead class="bg-secondary">
                    <tr>
                        <th class="bg-secondary border-bottom-0">
                            {{#str}} fullname, report_elucidsitereport {{/str}}
                        </th>
                        <th class="bg-secondary border-bottom-0 text-center">
                            {{#str}} onlinesince, report_elucidsitereport {{/str}}
                        </th>
                        <th class="bg-secondary border-bottom-0 text-center">
                            {{#str}} status, report_elucidsitereport {{/str}}
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>