<div class="dropdown blocksetting">
    <a href="#" tabindex="0" class=" dropdown-toggle icon-no-margin" id="blocksetting-{{id}}" data-toggle="dropdown">
        <i class="icon fa fa-cog fa-fw " title="Actions menu" aria-label="Actions menu"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right menu align-tr-br" aria-labelledby="blocksetting-{{id}}">
        {{# canedit }}
        <div class="dropdown-item">
            <a href="#" class="" data-contextid="{{contextid}}" data-blockname="{{id}}" data-action="edit">
                {{#str}} editblockview, local_sitereport {{/str}}
            </a>
        </div>
        <div class="dropdown-item">
            <a href="#" class="" data-contextid="{{contextid}}" data-blockname="{{id}}" data-action="hide" data-hidden="{{hidden}}">
                {{# hiddenblock }}
                    {{#str}} unhide, local_sitereport {{/str}}
                {{/ hiddenblock }}
                {{^ hiddenblock }}
                    {{#str}} hide, local_sitereport {{/str}}
                {{/ hiddenblock }}
            </a>
        </div>
        {{/ canedit }} 
        {{# caneditadv }}
        <div class="dropdown-item">
            <a href="#" class="" data-contextid="{{contextid}}" data-blockname="{{id}}" data-action="editcap">
                {{#str}} editcapability, local_sitereport {{/str}}
            </a>
        </div>
        {{/ caneditadv }}
    </div>
</div>
