<div id="lpstatsblock" class="panel h-auto" data-sesskey="{{sesskey}}">
    <div class="panel-header clearfix">
        <div class="panel-title px-0">
            <strong>
                {{#str}} lpstatsheader, report_elucidsitereport {{/str}}
                <a href="javascript:void(0)"
                    class="small"
                    data-toggle="tooltip"
                    data-trigger="hover"
                    data-placement="bottom"
                    title="{{#str}} lpstatsblockhelp, report_elucidsitereport {{/str}}">
                    <i class="fa fa-question-circle"></i>
                </a>
            </strong>
        </div>
        {{#exportlinks}}
            {{#blocklpstats}}
                {{> report_elucidsitereport/exportdropdown }}
            {{/blocklpstats}}
        {{/exportlinks}}
    </div>
    <div class="panel-body p-0">
        {{#haslps}}
            <select id="wdm-lpstats-select" class="form-control singleselect w-full" name="state">
                    {{#lps}}
                    <option value="{{id}}">{{name}}</option>
                    {{/lps}}
                </select>
            <div class="loader w-full text-center my-50 py-100">
                {{# pix }} loader, report_elucidsitereport{{/ pix }}
            </div>
            <canvas class="ct-chart d-none"></canvas>
        {{/haslps}}
        {{^haslps}}
            <div class="pie-placeholder position-relative mt-30">
                {{# pix }} pie-placeholder, report_elucidsitereport{{/ pix }}
                <div class="position-absolute w-full" style="top: 45%;">
                    <div class="alert alert-secondary text-center w-full" role="alert">
                        {{#str}} nolearningprograms, report_elucidsitereport {{/str}}
                    </div>
                </div>
            </div>
        {{/haslps}}
    </div>
    {{#haslps}}
    <div class="text-right">
        <a href="{{lpstatslink}}" class="text-primary">
            {{#str}} more, report_elucidsitereport {{/str}}
        </a>
    </div>
    {{/haslps}}
</div>