<div id="activeusersblock" data-sesskey="{{sesskey}}">
    <div class="panel h-auto">
        <div class="panel-header clearfix">
            <div class="panel-title px-0">
                <strong>
                    {{#str}} activeusersheader, report_elucidsitereport {{/str}}
                    <a href="javascript:void(0)" class="small" data-toggle="tooltip" data-trigger="hover" data-title="{{#str}} activeusersblockhelp, report_elucidsitereport {{/str}}">
                        <i class="fa fa-question-circle"></i>
                    </a>
                </strong>
                <div class="mx-0">
                    <div id="updated-time" class="font-size-12 px-0 pull-left">
                        {{#str}} lastupdate, report_elucidsitereport {{/str}}
                        <i class="refresh fa fa-refresh mx-5"></i>
                    </div>
                    <div class="filters ml-auto pull-right">
                        <form action="javascript:void(0);">
                            <div class="d-flex">
                                <div class="dropdown px-5">
                                    <button type="button" class="btn btn-sm dropdown-toggle input-group-addon" data-toggle="dropdown" id="filter-dropdown" aria-expanded="false">
                                        {{#str}} lastweek, report_elucidsitereport {{/str}}
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="filter-dropdown" role="menu">
                                        <div id="activeUser-calendar" class="dropdown-calendar"></div>
                                        <div class="dropdown-body">
                                            <a class="dropdown-item" href="javascript:void(0)" role="menuitem" value="weekly">
                                                {{#str}} lastweek, report_elucidsitereport {{/str}}
                                            </a>
                                            <a class="dropdown-item" href="javascript:void(0)" role="menuitem" value="monthly">
                                                {{#str}} lastmonth, report_elucidsitereport {{/str}}
                                            </a>
                                            <a class="dropdown-item" href="javascript:void(0)" role="menuitem" value="yearly">
                                                {{#str}} lastyear, report_elucidsitereport {{/str}}
                                            </a>
                                            <input class="dropdown-item border-0 custom" id="flatpickrCalender" placeholder="{{#str}} custom, report_elucidsitereport{{/str}}"  data-input/>
                                        </div>
                                    </div>
                                </div>
                                {{#exportlinks}}
                                    {{#blockactiveusers}}
                                        {{> report_elucidsitereport/exportdropdown }}
                                    {{/blockactiveusers}}
                                {{/exportlinks}}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body p-0">
            <div class="loader w-full text-center py-100 my-50">
                {{# pix }} loader, report_elucidsitereport{{/ pix }}
            </div>
            <canvas class="ct-chart line-chart d-none"></canvas>
        </div>
        <div class="panel-footer p-0">
            <div class="text-right">
                <a href="{{activeuserslink}}" class="text-primary">
                    {{#str}} more, report_elucidsitereport {{/str}}
                </a>
            </div>
        </div>
    </div>
</div>
