<div id="wdm-certificates-individual" class="table-responsive" data-sesskey="{{sesskey}}">
    {{#hascertificates}}
        <div id="wdm-certificates-dropdown" class="">
            <select id="wdm-certificates-select" class="form-control singleselect" name="state" style="width: 250px;">
                {{#certificates}}
                <option value="{{id}}">{{coursename}}: {{name}}</option>
                {{/certificates}}
            </select>
        </div>
    {{/hascertificates}}
    <table class="table">
        <thead>
            <th class="">{{#str}} username, local_sitereport {{/str}}</th>
            <th class="">{{#str}} useremail, local_sitereport {{/str}}</th>
            <th class="">{{#str}} dateofissue, local_sitereport {{/str}}</th>
            <th class="">{{#str}} dateofenrol, local_sitereport {{/str}}</th>
            <th class="">{{#str}} grade, local_sitereport {{/str}}</th>
            <th class="">{{#str}} courseprogress, local_sitereport {{/str}}</th>
        </thead>
        <tbody></tbody>
    </table>
</div>
