<div id="certificatestatsblock" class="panel h-auto">
    <div class="panel-header clearfix">
        <div class="panel-title px-0">
            <strong>
                {{#str}} certificatestats, report_elucidsitereport {{/str}}
                <a href="#" class="small"><i class="fa fa-question-circle"></i></a>
            </strong>
        </div>
    </div>
    <div class="panel-body p-0">
        <div class="table-reponsive">
            <table class="table">
                <thead class="bg-secondary">
                    <tr>
                        <th>Type</th>
                        <th class="text-center"># Created</th>
                        <th class="text-center"># Issued</th>
                        <th class="text-center"># Unused</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Certificate</td>
                        <td class="text-center">10</td>
                        <td class="text-center">6</td>
                        <td class="text-center">4</td>
                    </tr>
                    <tr>
                        <td>Simple Certificates</td>
                        <td class="text-center">10</td>
                        <td class="text-center">6</td>
                        <td class="text-center">4</td>
                    </tr>
                    <tr>
                        <td>Custom Certificates</td>
                        <td class="text-center">10</td>
                        <td class="text-center">6</td>
                        <td class="text-center">4</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>