{{#userfilters}}
    {{> report_elucidsitereport/userfilters }}
{{/userfilters}}
{{#exportlink}}
    {{> report_elucidsitereport/exportdropdown }}
{{/exportlink}}

<div id="wdm-certificates-individual" class="table-responsive" data-sesskey="{{sesskey}}">
	{{#hascertificates}}
    <div class="d-flex">
        <div class="px-0 py-20 pull-left">
            <select id="wdm-certificates-select" class="form-control singleselect w-250" name="state">
                {{#certificates}}
                <option value="{{id}}">{{coursename}}: {{name}}</option>
                {{/certificates}}
            </select>
        </div>
    </div>
    {{/hascertificates}}
    <div class="loader w-full text-center py-100 my-50">
        {{# pix }} loader, report_elucidsitereport{{/ pix }}
    </div>
    <table class="table w-full" style="display: none;">
        <thead>
            <th class="bg-image-none no-sorting-arrow">{{#str}} username, report_elucidsitereport {{/str}}</th>
            <th class="bg-image-none no-sorting-arrow">{{#str}} useremail, report_elucidsitereport {{/str}}</th>
            <th class="bg-image-none no-sorting-arrow">{{#str}} dateofissue, report_elucidsitereport {{/str}}</th>
            <th class="bg-image-none no-sorting-arrow">{{#str}} dateofenrol, report_elucidsitereport {{/str}}</th>
            <th class="bg-image-none no-sorting-arrow">{{#str}} grade, report_elucidsitereport {{/str}}</th>
            <th class="bg-image-none no-sorting-arrow">{{#str}} courseprogress, report_elucidsitereport {{/str}}</th>
        </thead>
        <tbody></tbody>
    </table>
</div>
