<div id="wdm-completion-individual" class="table-responsive" data-sesskey="{{sesskey}}">
    <table class="table" style="display: none;">
        <thead>
            <tr>
                <th class="text-nowrap bg-image-none no-sorting-arrow border-bottom-0">
                    {{#str}} fullname, local_sitereport {{/str}}
                </th>
                <th class="text-center bg-image-none no-sorting-arrow text-nowrap border-bottom-0">
                    {{#str}} enrolledon, local_sitereport {{/str}}
                </th>
                <th class="text-center bg-image-none no-sorting-arrow text-nowrap border-bottom-0">
                    {{#str}} enrolltype, local_sitereport {{/str}}
                </th>
                <th class="text-center bg-image-none no-sorting-arrow text-nowrap border-bottom-0">
                    {{#str}} noofvisits, local_sitereport {{/str}}
                </th>
                <th class="text-center bg-image-none no-sorting-arrow text-nowrap border-bottom-0">
                    {{#str}} coursecompletion, local_sitereport {{/str}}
                </th>
                <th class="text-center bg-image-none no-sorting-arrow text-nowrap border-bottom-0">
                    {{#str}} completiontime, local_sitereport {{/str}}
                </th>
                <th class="text-center bg-image-none no-sorting-arrow text-nowrap border-bottom-0">
                    {{#str}} grade, local_sitereport {{/str}}
                </th>
                <th class="text-center bg-image-none no-sorting-arrow text-nowrap border-bottom-0">
                    {{#str}} lastaccess, local_sitereport {{/str}}
                </th>
            </tr>
        </thead>
        <tbody></tbody>
  </table>
</div>
