<div id="wdm-courseaccess-individual" class="table-responsive" data-sesskey="{{sesskey}}">
    <table class="table">
        <thead>
            <tr>
                <th class="text-nowrap border-bottom-0">
                    {{#str}} username, local_edwiserreports {{/str}}
                </th>
                <th class="text-center text-nowrap border-bottom-0">
                    {{#str}} email, local_edwiserreports {{/str}}
                </th>
                <th class="text-center text-nowrap border-bottom-0">
                    {{#str}} noofvisits, local_edwiserreports {{/str}}
                </th>
                <th class="text-center text-nowrap border-bottom-0">
                    {{#str}} recentvisits, local_edwiserreports {{/str}}
                </th>
                <th class="text-center text-nowrap border-bottom-0">
                    {{#str}} enrolledon, local_edwiserreports {{/str}}
                </th>
                <th class="text-center text-nowrap border-bottom-0">
                    {{#str}} completions, local_edwiserreports {{/str}}
                </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
