<div class="nav-tabs-horizontal" data-plugin="tabs">
    <ul class="nav nav-tabs nav-tabs-line w-full" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" data-toggle="tab" href="#progress" aria-controls="progress" role="tab" aria-selected="true">
                {{#str}} courseprogress, local_sitereport {{/str}}
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" data-toggle="tab" href="#engagement" aria-controls="engagement" role="tab" aria-selected="false">
                {{#str}} courseengagement, local_sitereport {{/str}}
            </a>
        </li>
    </ul>
    <div class="tab-content pt-20">
        <div class="tab-pane active" id="progress" role="tabpanel">
            {{> local_sitereport/courseprogress }}
        </div>
        <div class="tab-pane" id="engagement" role="tabpanel">
            {{> local_sitereport/courseengage }}
        </div>
    </div>
</div>
