{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    Edwiser RemUI
    @package   theme_remui
    @copyright (c) 2020 WisdmLabs (https://wisdmlabs.com/)
    @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later

}}
{{!
    @template theme_remui/activity_navigation

    Display the activity navigation for all activities in a course

    Context variables required for this template:

    Example context (json):
    {
    }
}}
{{> local_edwiserreports/report-page-header }}
<div id="coursereport" class="nav-tabs-horizontal" data-plugin="tabs">
    <div class="pro-feature-warning d-none">
        <div class="warning-container">
            <div class="pr-4">
                {{{warningicon}}}
            </div>
            <div class="text-left">
                {{#str}} courseengagementprowarning, local_edwiserreports {{/str}}
            </div>
        </div>
    </div>
    <div id="wdm-userfilter" class="h-auto my-10">
        <div class="row">
            <div class="filters col-12 d-flex mb-1">
                <div class="d-flex ml-auto">
                    {{# cohortfilters }}
                        <div class="mr-1">
                            <select class="cohort-select form-control singleselect" name="cohort-select">
                                {{#values}}
                                    <option value="{{id}}">{{name}}</option>
                                {{/values}}
                            </select>
                        </div>
                    {{/ cohortfilters }}
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-info alert-block fade in " role="alert" data-aria-autofocus="true">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {{# str }} clicktogetuserslist, local_edwiserreports {{/ str}}
    </div>
    <ul class="nav nav-tabs nav-tabs-line w-full" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" data-toggle="tab" href="#progress" aria-controls="progress" role="tab" aria-selected="true">
                {{#str}} courseprogress, local_edwiserreports {{/str}}
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" data-toggle="tab" href="#engagement" aria-controls="engagement" role="tab" aria-selected="false">
                {{#str}} courseengagement, local_edwiserreports {{/str}}
            </a>
        </li>
    </ul>
    <div class="tab-content pt-20">
        <div class="tab-pane active" id="progress" role="tabpanel">
            {{> local_edwiserreports/courseprogress }}
            {{# courseprogressexport }}
            <div class="pull-right px-5">
                {{> local_edwiserreports/exportreports }}
            </div>
            {{/ courseprogressexport }}
        </div>
        <div class="tab-pane" id="engagement" role="tabpanel">
            {{> local_edwiserreports/courseengage }}
            {{# courseengageexport }}
            <div class="pull-right px-5">
                {{> local_edwiserreports/exportreports }}
            </div>
            {{/ courseengageexport }}
        </div>
    </div>
</div>
{{#js}}
require(['jquery'], function($) {
    $(document).ready(function() {
        if ($('#coursereport .nav-tabs .nav-item .nav-link.active').attr('href') == '#engagement') {
            $('#coursereport .pro-feature-warning').removeClass('d-none');
        }
        $('#coursereport .nav-tabs .nav-item').on('shown.bs.tab', function (e) {
            var target = $(e.target).attr("href");
            if (target == '#progress') {
                $('#coursereport .pro-feature-warning').addClass('d-none');
            } else if (target == '#engagement') {
                $('#coursereport .pro-feature-warning').removeClass('d-none');
            }
        });
    });
});
{{/js}}
