{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    Edwiser RemUI
    @package   theme_remui
    @copyright (c) 2020 WisdmLabs (https://wisdmlabs.com/)
    @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later

}}
{{!
    @template theme_remui/activity_navigation

    Display the activity navigation for all activities in a course

    Context variables required for this template:

    Example context (json):
    {
    }
}}
<div id="wdm-courseengage-individual" class="table-responsive" data-sesskey="{{sesskey}}">
    <div id="userfilter">
        <div class="row mt-2">
            <div class="filter-selector col-12 col-md-3 mb-1">
                {{> local_edwiserreports/datatable/search }}
            </div>
            <div class="filter-selector col-12 col-md-3 mb-1 ml-auto">
                {{> local_edwiserreports/datatable/length }}
            </div>
        </div>
    </div>
    <table class="table w-100">
        <thead>
            <tr>
                <th class="text-nowrap bg-image-none no-sorting-arrow">
                    {{#str}} coursename, local_edwiserreports {{/str}}
                </th>
                <th class="text-center bg-image-none no-sorting-arrow text-nowrap">
                    {{#str}} enrolments, local_edwiserreports {{/str}}
                </th>
                <th class="text-center bg-image-none no-sorting-arrow text-nowrap">
                    {{#str}} visits, local_edwiserreports {{/str}}
                </th>
                <th class="text-center bg-image-none no-sorting-arrow text-nowrap">
                    {{#str}} activitystart, local_edwiserreports {{/str}}
                </th>
                <th class="text-center bg-image-none no-sorting-arrow text-nowrap">
                    {{#str}} completedhalf, local_edwiserreports {{/str}}
                </th>
                <th class="text-center bg-image-none no-sorting-arrow text-nowrap">
                    {{#str}} coursecompleted, local_edwiserreports {{/str}}
                </th>
            </tr>
        </thead>
        <tbody></tbody>
  </table>
</div>
