<div class="table-dropdown">
    {{#exportlink}}
        {{> report_elucidsitereport/exportdropdown }}
    {{/exportlink}}
</div>
<div id="wdm-courseaccess-individual" class="table-responsive" data-sesskey="{{sesskey}}">
    <table class="table">
        <thead>
            <tr>
                <th class="text-nowrap border-bottom-0">
                    {{#str}} username, report_elucidsitereport {{/str}}
                </th>
                <th class="text-center text-nowrap border-bottom-0">
                    {{#str}} email, report_elucidsitereport {{/str}}
                </th>
                <th class="text-center text-nowrap border-bottom-0">
                    {{#str}} noofvisits, report_elucidsitereport {{/str}}
                </th>
                <th class="text-center text-nowrap border-bottom-0">
                    {{#str}} recentvisits, report_elucidsitereport {{/str}}
                </th>
                <th class="text-center text-nowrap border-bottom-0">
                    {{#str}} enrolledon, report_elucidsitereport {{/str}}
                </th>
                <th class="text-center text-nowrap border-bottom-0">
                    {{#str}} completions, report_elucidsitereport {{/str}}
                </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>