<div class="row mx-0">
    <input class="hidden" id="wdm_custom_reports_id" value="{{reportsid}}">
    <input class="hidden" id="wdm_custom_reports_fullname" value="{{fullname}}">
    <input class="hidden" id="wdm_custom_reports_shortname" value="{{shortname}}">
    <input class="hidden" id="wdm_custom_reports_downloadenable" value="{{downloadenable}}">
    <input class="hidden" id="wdm_custom_reports_desktopenable" value="{{enabledesktop}}">
    <div class="col-md-9 col-sm-12 mb-3">
        <div class="">
            <div class="reports-preview-header">
                <h4> {{^fullname}}{{#str}} reportspreview, local_edwiserreports {{/str}}{{/fullname}} {{#fullname}}{{.}}{{/fullname}}</h4>
            </div>
            <div class="reports-preview-body">
                <div class="">
                    <div class="border reports-preview-content loader d-none justify-content-center align-items-center">
                        <div class="w-full text-center">
                            {{# pix }} i/loading, core, {{#str}} loadinghelp, moodle {{/str}} {{/ pix }}
                        </div>
                    </div>
                    <div class="reports-preview-content d-none justify-content-center align-items-center">
                        <table id="cr-preview-table" class="datatable table"></table>
                    </div>
                    <div class="border reports-preview-content empty d-flex justify-content-center align-items-center">
                        {{#str}} noreportspreview, local_edwiserreports {{/str}}
                    </div>
                </div>
            </div>
            <div class="reports-preview-footer py-1">
                <button id="wdm-custom-reports-save" class="btn btn-primary pull-right" disabled>
                    {{#str}} save, local_edwiserreports {{/str}}
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-12">
        <div class="">
            <div class="reports-filter-header">
                <h4> {{#str}} reportsfilter, local_edwiserreports {{/str}} </h4>
            </div>
            <div class="reports-filter-body border">
                <div>
                    <div class="p-2">
                        <div class="position-relative my-1">
                            <select id="wdm-cohort-select" class="custom-field-select form-control singleselect w-full">
                                <option value="0">{{#str}} allcohorts, local_edwiserreports {{/str}}</option>
                                {{#cohorts}}
                                <option value="{{id}}">{{name}}</option>
                                {{/cohorts}}
                            </select>
                        </div>
                        <div class="position-relative my-1">
                            <select id="wdm-course-select" class="custom-field-select form-control singleselect w-full">
                                <option value="0" {{#allcourses}}selected{{/allcourses}}>{{#str}} allcourses, local_edwiserreports {{/str}}</option>
                                {{#courses}}
                                <option value="{{id}}" {{#selected}}selected{{/selected}}>{{{fullname}}}</option>
                                {{/courses}}
                            </select>
                        </div>
                    </div>
                    {{#fields}}
                    <div id="{{key}}-field-group" class="field-group w-full bg-secondary p-2">
                        {{title}}
                        <i class="fa fa-angle-right pull-right p-1"></i>
                    </div>
                    <div class="field" aria-control="{{key}}-field-group">
                        {{#fieldsarray}}
                        <div class="{{id}} p-2">
                            <div class="checkbox-custom checkbox-primary">
                                <input type="checkbox" id="{{id}}" class="custom-field-checkbox" value="{{id}}" {{#selected}}checked{{/selected}}>
                                <label for="{{id}}" class="mb-0">{{text}}</label>
                            </div>
                        </div>
                        {{/fieldsarray}}
                    </div>
                    {{/fields}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="">
            <div class="reports-list-header">
                <h4> {{#str}} reportslist, local_edwiserreports {{/str}} </h4>
            </div>
            <div class="reports-list-body">
                <div class="">
                    <div class="border reports-list-content loader d-flex justify-content-center align-items-center">
                        <div class="w-full text-center">
                            {{# pix }} i/loading, core, {{#str}} loadinghelp, moodle {{/str}} {{/ pix }}
                        </div>
                    </div>
                    <div class="reports-list-content d-none justify-content-center align-items-center">
                        <table id="cr-list-table" class="datatable table"></table>
                    </div>
                    <div class="border reports-list-content empty d-none justify-content-center align-items-center">
                        {{#str}} noreportslist, local_edwiserreports {{/str}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{#js}}
require([
    'jquery',
    'local_edwiserreports/customreportsblock',
    'local_edwiserreports/select2'
], function (
    $,
    customreportsblock
) {
    $('.singleselect').select2();
    customreportsblock.init();

    $(document).ready(function() {
        $(document).on('click', '.field-group', function() {
            var id = this.id;
            $(this).toggleClass('open');
            $("[aria-control='" + id + "']").toggleClass('show');
        });
    });
});
{{/js}}
