{{#items}}
    <span role="listitem" data-value="{{value}}" aria-selected="true" class="badge badge-info mb-3 mr-1" style="font-size: 100%">
        <span aria-hidden="true">× </span>{{{label}}}
    </span>
{{/items}}
{{^items}}
    <span class="mb-3 mr-1">{{noSelectionString}}</span>
{{/items}}