<div id="wdm-elucidsitereport" class="row m-0">
    {{# blocks }}
        <div class="{{class}}">
            <div id="{{id}}" data-sesskey="{{sesskey}}">
                <div class="panel h-auto">
                    <div class="panel-header clearfix">
                        <div class="panel-title px-0">
                            <strong>
                                {{{name}}}
                                <a href="javascript:void(0)" data-title="{{info}}" class="small" data-toggle="tooltip" data-trigger="hover" data-placement="bottom">
                                    <i class="fa fa-question-circle"></i>
                                </a>
                            </strong>

                            {{{ filters }}}
                        </div>
                    </div>
                    <div class="panel-body">
                        {{{ blockview }}}
                        <div class="loader w-full text-center">
                            {{# pix }} loader, report_elucidsitereport{{/ pix }}
                        </div>
                    </div>
                    <div class="panel-footer row">
                        {{# morelink }}
                            <div class="">
                                <a href="{{{.}}}" class="btn btn-primary btn-sm">{{#str}} more, report_elucidsitereport {{/str}}</a>
                            </div>
                        {{/ morelink }}
                        {{# hasdownloadlink }}
                            <div class="ml-auto">
                                <a href="{{{.}}}" class="">
                                    <i class="fa fa-file text-success"></i>
                                </a>
                                <a href="{{{.}}}" class="">
                                    <i class="fa fa-file"></i>
                                </a>
                                <a href="{{{.}}}" class="">
                                    <i class="fa fa-file"></i>
                                </a>
                                <a href="{{{.}}}" class="">
                                    <i class="fa fa-file"></i>
                                </a>
                            </div>
                        {{/ hasdownloadlink }}
                    </div>
                </div>
            </div>
        </div>
    {{/ blocks }}
</div>

<div class="d-none">
    {{! If user is admin }}
    {{^isreportingmanager}}
    <div class="col-12 px-0">
        {{> report_elucidsitereport/block_activeusers }}
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12">
        {{> report_elucidsitereport/block_courseprogress }}
    </div>

    <div class="col-lg-8 col-md-12 col-sm-12 px-0">
        {{> report_elucidsitereport/block_activecourses }}
    </div>

    {{#hascustomcertpluign}}
    <div class="col-lg-6 col-md-12 col-sm-12 px-0 pr-lg-10">
        {{> report_elucidsitereport/block_certificatestats }}
    </div>
    {{/hascustomcertpluign}}

    <div class="col-lg-6 col-md-12 col-sm-12 px-0 pl-lg-10">
        {{> report_elucidsitereport/block_liveusers }}
    </div>

    {{#hasf2fpluign}}
    <div class="col-12 px-0">
        {{> report_elucidsitereport/block_f2fsessions }}
    </div>
    {{/hasf2fpluign}}

    <div class="col-lg-8 col-md-12 col-sm-12 px-0">
        {{> report_elucidsitereport/block_accessinfo }}
    </div>

    {{#haslppluign}}
    <div class="col-lg-4 col-md-12 col-sm-12 px-0">
        {{> report_elucidsitereport/block_lpstats }}
    </div>
    {{/haslppluign}}

    <div class="col-lg-6 col-md-12 col-sm-12 pl-0 pr-lg-10">
        {{> report_elucidsitereport/block_todaysactivity }}
    </div>

    <div class="col-lg-6 col-md-12 col-sm-12 pr-0 pl-lg-10">
        {{> report_elucidsitereport/block_inactiveusers }}
    </div>

    <!-- <div class="col-12 px-0">
        {{> report_elucidsitereport/block_customreport }}
    </div> -->
    <div class="col-12 px-0">
        {{> report_elucidsitereport/block_customqueryreport }}
    </div>
    {{/isreportingmanager}}


    {{! If user is reporting manager}}
    {{#isreportingmanager}}
        {{#activeusers}}
            <div class="col-12 px-0">
                {{> report_elucidsitereport/block_activeusers }}
            </div>
        {{/activeusers}}

        {{#courseprogress}}
            <div class="col-lg-4 col-md-12 col-sm-12">
                {{> report_elucidsitereport/block_courseprogress }}
            </div>
        {{/courseprogress}}

        {{#activecourses}}
            <div class="col-lg-8 col-md-12 col-sm-12 px-0">
                {{> report_elucidsitereport/block_activecourses }}
            </div>
        {{/activecourses}}

        {{#certificatestats}}
            {{#hascustomcertpluign}}
            <div class="col-lg-6 col-md-12 col-sm-12 px-0 pr-lg-10">
                {{> report_elucidsitereport/block_certificatestats }}
            </div>
            {{/hascustomcertpluign}}
        {{/certificatestats}}

        {{#realtimeusers}}
            <div class="col-lg-6 col-md-12 col-sm-12 px-0 pl-lg-10">
                {{> report_elucidsitereport/block_liveusers }}
            </div>
        {{/realtimeusers}}

        {{#f2fsessions}}
            {{#hasf2fpluign}}
            <div class="col-12 px-0">
                {{> report_elucidsitereport/block_f2fsessions }}
            </div>
            {{/hasf2fpluign}}
        {{/f2fsessions}}

        {{#accessinfo}}
            <div class="col-lg-8 col-md-12 col-sm-12 px-0">
                {{> report_elucidsitereport/block_accessinfo }}
            </div>
        {{/accessinfo}}

        {{#lpstats}}
            {{#haslppluign}}
            <div class="col-lg-4 col-md-12 col-sm-12 px-0">
                {{> report_elucidsitereport/block_lpstats }}
            </div>
            {{/haslppluign}}
        {{/lpstats}}

        {{#todaysactivity}}
            <div class="col-lg-6 col-md-12 col-sm-12 pl-0 pr-lg-10">
                {{> report_elucidsitereport/block_todaysactivity }}
            </div>
        {{/todaysactivity}}

        {{#inactiveusers}}
            <div class="col-lg-6 col-md-12 col-sm-12 pr-0 pl-lg-10">
                {{> report_elucidsitereport/block_inactiveusers }}
            </div>
        {{/inactiveusers}}
        <!-- <div class="col-12 px-0">
            {{> report_elucidsitereport/block_customreport }}
        </div> -->

        <div class="col-12 px-0">
            {{> report_elucidsitereport/block_customqueryreport }}
        </div>
    {{/isreportingmanager}}
</div>