<div id="wdm-elucidsitereport" class="row mx-0">
    <div class="col-12 px-0">
        {{> report_elucidsitereport/activeusersblock }}
    </div>
    <div class="col-lg-4 col-md-5 col-sm-12">
        {{> report_elucidsitereport/courseprogressblock }}
    </div>
    <div class="col-lg-8 col-md-7 col-sm-12 px-0">
        {{> report_elucidsitereport/mostactivecourses }}
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 px-0 pr-md-10">
        {{> report_elucidsitereport/certificatestatsblock }}
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 px-0 pl-md-10">
        {{> report_elucidsitereport/liveusersblock }}
    </div>
    <div class="col-12 px-0">
        {{> report_elucidsitereport/f2fsessionsblock }}
    </div>
    <div class="col-lg-8 col-md-6 col-sm-12 px-0">
        {{> report_elucidsitereport/accessinfograph }}
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 px-0">
        {{> report_elucidsitereport/lpstatsblock }}
    </div>
    <div class="col-12 px-0">
        {{> report_elucidsitereport/inactiveusersblock }}
    </div>
</div>