<div class="dropdown px-5 mb-5 export-dropdown">
    <button type="button" class="btn btn-link bg-white border-0 btn-lg text-dark dropdown-toggle py-5 px-10" id="export-dropdown" data-toggle="dropdown" aria-expanded="false">
        <i class="icon fa fa-download"></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="export-dropdown" role="menu">
        {{#export}}
            <a class="dropdown-item" href="{{{link}}}" role="menuitem" data-action="{{action}}">
                {{name}}
            </a>
        {{/export}}
    </div>
</div>