{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    Edwiser RemUI
    @package   theme_remui
    @copyright (c) 2020 WisdmLabs (https://wisdmlabs.com/)
    @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later

}}
{{!
    @template theme_remui/activity_navigation

    Display the activity navigation for all activities in a course

    Context variables required for this template:

    Example context (json):
    {
        "downloadurl": "#"
    }
}}
<form action="{{{ downloadurl }}}" target="_blank" method="post" class="download-links row m-0 ml-auto">
    <input type="hidden" name="block" value="{{id}}" />
    <input type="hidden" name="filter" value="{{filter}}" />
    <input type="hidden" name="cohortid" value="{{cohortid}}" />
    <input type="hidden" name="region" value="{{region}}" />
    <input type="hidden" name="sesskey" value="{{sesskey}}">
    <label class="download-label h5">{{#str}} downloadreport, local_edwiserreports {{/str}}</label>
    <button type="button" class="a border-0 bg-white" name="type" value="pdf">
        {{{pdf}}}
    </button>
    <button type="button" class="a border-0 bg-white" name="type" value="csv">
        {{{csv}}}
    </button>
    <button type="button" class="a border-0 bg-white" name="type" value="excel">
        {{{xls}}}
    </button>
    <button type="button" class="a ml-2 btn theme-primary-text theme-primary-border bg-white" name="type" value="email">
        {{#str}} schedule, local_edwiserreports {{/str}}
    </button>
</form>
