<div id="f2fsessionsblock" class="panel h-auto">
    <div class="panel-header clearfix">
        <div class="panel-title px-0">
            <strong>
                {{#str}} f2fsessionsheader, report_elucidsitereport {{/str}}
                <a href="#" class="small"><i class="fa fa-question-circle"></i></a>
            </strong>
        </div>
    </div>
    <div class="panel-body p-0">
        <div class="table-reponsive">
            <table class="table">
                <thead class="bg-secondary">
                    <tr>
                        <th>Name</th>
                        <th>Course</th>
                        <th>Signups</th>
                        <th>Attendees</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-toggle="collapse" data-target="#accordion-1" class="clickable">
                        <td><i class="icon fa fa-angle-right text-center"></i>Google IO Session</td>
                        <td>Training & Placemnets</td>
                        <td>20</td>
                        <td data-value="1" class="footable-last-column">15</td>
                    </tr>
                    <tr>
                        <td class="border-0 py-0 pl-30" colspan="4">
                            <div  id="accordion-1" class="collapse">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Time</th>
                                            <th>Venue</th>
                                            <th>Signups</th>
                                            <th>Attendees</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>13 Feb 2019</td>
                                            <td>11:12 AM</td>
                                            <td>Pune</td>
                                            <td>5</td>
                                            <td>4</td>
                                        </tr>
                                        <tr>
                                            <td>14 Feb 2019</td>
                                            <td>11:12 AM</td>
                                            <td>Pune</td>
                                            <td>5</td>
                                            <td>4</td>
                                        </tr>
                                        <tr>
                                            <td>15 Feb 2019</td>
                                            <td>11:12 AM</td>
                                            <td>Pune</td>
                                            <td>5</td>
                                            <td>4</td>
                                        </tr>
                                        <tr>
                                            <td>12 Feb 2019</td>
                                            <td>11:12 AM</td>
                                            <td>Pune</td>
                                            <td>5</td>
                                            <td>4</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr data-toggle="collapse" data-target="#accordion-2" class="clickable">
                        <td><i class="icon fa fa-angle-right text-center"></i>Moodle Introduction</td>
                        <td>Training & Placemnets</td>
                        <td>20</td>
                        <td>15</td>
                    </tr>
                    <tr>
                        <td class="border-0 py-0 pl-30" colspan="4">
                            <div  id="accordion-2" class="collapse">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Time</th>
                                            <th>Venue</th>
                                            <th>Signups</th>
                                            <th>Attendees</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>13 Feb 2019</td>
                                            <td>11:12 AM</td>
                                            <td>Pune</td>
                                            <td>5</td>
                                            <td>4</td>
                                        </tr>
                                        <tr>
                                            <td>14 Feb 2019</td>
                                            <td>11:12 AM</td>
                                            <td>Pune</td>
                                            <td>5</td>
                                            <td>4</td>
                                        </tr>
                                        <tr>
                                            <td>15 Feb 2019</td>
                                            <td>11:12 AM</td>
                                            <td>Pune</td>
                                            <td>5</td>
                                            <td>4</td>
                                        </tr>
                                        <tr>
                                            <td>12 Feb 2019</td>
                                            <td>11:12 AM</td>
                                            <td>Pune</td>
                                            <td>5</td>
                                            <td>4</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>