<div id="wdm-f2fsessions-individual" data-sesskey="{{sesskey}}">
    <div class="table-reponsive">
        <div class="loader w-full text-center pt-100 mt-50" style="min-height: 250px;">
            {{# pix }} loader, report_elucidsitereport{{/ pix }}
        </div>
        <table id="f2fsessionstable" class="table dataTable no-footer" style="display: none;">
            <thead>
                <tr>
                    <th class="header">
                        {{#str}} date, report_elucidsitereport {{/str}}
                    </th>
                    <th class="header">
                        {{#str}} time, report_elucidsitereport {{/str}}
                    </th>
                    <th class="header">
                        {{#str}} name, report_elucidsitereport{{/str}}
                    </th>
                    <th class="header">
                        {{#str}} course, report_elucidsitereport {{/str}}
                    </th>
                    <th class="header">
                        {{#str}} venue, report_elucidsitereport {{/str}}
                    </th>
                    <th class="header">
                        {{#str}} signups, report_elucidsitereport {{/str}}
                    </th>
                    <th class="header">
                        {{#str}} confirmed, report_elucidsitereport {{/str}}
                    </th>
                    <th class="header">
                        {{#str}} attendees, report_elucidsitereport {{/str}}
                    </th>
                    <th class="header">
                        {{#str}} waitlist, report_elucidsitereport {{/str}}
                    </th>
                    <th class="header">
                        {{#str}} declined, report_elucidsitereport {{/str}}
                    </th>
                </tr>
            </thead>
            <tbody>
                {{#f2fmodules}}
                {{#sessions}}
                <tr data-toggle="collapse" data-target="#accordion-{{sessionid}}" class="clickable">
                    <td>
                        <i class="icon accordion-arrow fa fa-angle-right text-center"></i>
                        {{date}}
                    </td>
                    <td>{{time}}</td>
                    <td>{{name}}</td>
                    <td>{{coursename}}</td>
                    <td>{{signupvenue}}</td>
                    <td class="text-center">{{signups}}</td>
                    <td class="text-center">{{confirmed}}</td>
                    <td class="text-center">{{attendend}}</td>
                    <td class="text-center">{{waitlisted}}</td>
                    <td class="text-center">{{declined}}</td>
                </tr>
                <tr>
                    <td class="border-0 collapse-td py-0 pl-30">
                        <div  id="accordion-{{sessionid}}" class="collapse">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="header">
                                            {{#str}} username, report_elucidsitereport {{/str}}
                                        </th>
                                        <th class="header">
                                            {{#str}} status, report_elucidsitereport {{/str}}
                                        </th>
                                        <th class="header">
                                            {{#str}} reason, report_elucidsitereport {{/str}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#users}}
                                    <tr>
                                        <td>{{firstname}} {{lastname}}</td>
                                        <td>{{{status}}}</td>
                                        <td>{{reason}}</td>
                                    </tr>
                                    {{/users}}
                                    {{^users}}
                                    <tr>
                                        <td class="text-center" colspan="3">
                                            {{#str}} nosignups, report_elucidsitereport{{/str}}
                                        </td>
                                    </tr>
                                    {{/users}}
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                {{/sessions}}
                {{^sessions}}
                <tr>
                    <td class="text-center" colspan="10">
                        {{#str}} nosessions, report_elucidsitereport{{/str}}
                    </td>
                </tr>
                {{/sessions}}
                {{/f2fmodules}}
                {{^f2fmodules}}
                <tr>
                    <td class="text-center" colspan="10">
                        {{#str}} nosessions, report_elucidsitereport{{/str}}
                    </td>
                </tr>
                {{/f2fmodules}}
            </tbody>
        </table>
    </div>
</div>