<div id="f2fsessionsblock" class="panel h-auto">
    <div class="panel-header clearfix">
        <div class="panel-title px-0">
            <strong>
                {{#str}} f2fsessionsheader, report_elucidsitereport {{/str}}
                <a href="#" class="small"><i class="fa fa-question-circle"></i></a>
            </strong>
        </div>
    </div>
    <div class="panel-body p-0">
        <div class="loader w-full text-center pt-100 mt-50" style="min-height: 250px;">
            {{# pix }} loader, report_elucidsitereport{{/ pix }}
        </div>
    </div>
</div>