{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    Edwiser RemUI
    @package   local_edwiserreports
    @copyright (c) 2022 WisdmLabs (https://wisdmlabs.com/)
    @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later

}}
{{!
    @template local_edwiserreports/grade

    Display the activity navigation for all activities in a course

    Context variables required for this template:

    Example context (json):
    {
    }
}}
{{> local_edwiserreports/report-page-header }}
<div id="grade" class="table-responsive" data-sesskey="{{sesskey}}">
    <div id="userfilter" class="h-auto mt-2">
        <div class="row">
            <div class="filter-selector col-12 col-md-3 mb-1">
                {{> local_edwiserreports/datatable/search }}
            </div>
            {{# cohortfilters }}
                <div class="filter-selector col-12 col-md-2 mb-1">
                    <select class="cohort-select form-control singleselect" name="cohort-select">
                        {{#values}}
                            <option value="{{id}}">{{name}}</option>
                        {{/values}}
                    </select>
                </div>
            {{/ cohortfilters }}
            <div class="filter-selector col-12 col-md-3 mb-1">
                <select class="course-select form-control singleselect" name="course-select">
                    {{#courses}}
                        <option value="{{id}}">{{fullname}}</option>
                    {{/courses}}
                </select>
            </div>
            <div class="filter-selector col-12 col-md-3 mb-1 ml-auto">
                {{> local_edwiserreports/datatable/length }}
            </div>
        </div>
    </div>
    <table class="table w-100">
        <thead>
            <tr>
                <th class="theme-3-bg text-white">
                    {{#str}} student, core_grades {{/str}}
                </th>
                <th class="theme-3-bg text-white">
                    {{#str}} course {{/str}}
                </th>
                <th class="theme-3-bg text-white">
                    {{#str}} activity {{/str}}
                </th>
                <th class="theme-3-bg text-white">
                    {{#str}} grade, core_grades {{/str}}
                </th>
            </tr>
        </thead>
    </table>
    {{# gradeexport }}
    <div class="pull-right px-5 py-1">
        {{> local_edwiserreports/exportreports }}
    </div>
    {{/ gradeexport }}
</div>
{{#js}}
M.local_edwiserreports = {
    secret: '{{{secret}}}'
};
{{/js}}
