<div class="row">
    <div class="filter-selector col-12 col-md-6 mb-1">
        <select class="course-select form-control singleselect" name="courses-select">
            {{#courses}}
                <option value="{{id}}">{{fullname}}</option>
            {{/courses}}
        </select>
    </div>
    <div class="filter-selector col-12 col-md-6 mb-1">
        {{> local_edwiserreports/studentengagement/students_filter }}
    </div>
</div>
