<div class="table-responsive">
    <table id="inactiveuserstable" class="table" style="display: none;">
        <thead class="">
            <tr>
            <th class="">
                {{#str}} fullname, local_edwiserreports{{/str}}
            </th>
            <th class="d-none d-sm-none d-md-table-cell d-lg-table-cell ">
                {{#str}} email, local_edwiserreports{{/str}}
            </th>
            <th class="">
                {{#str}} lastaccess, local_edwiserreports{{/str}}
            </th>
            </tr>
        </thead>
    </table>
</div>
