<div class="row">
    <div class="filter-selector col-12 mb-1">
        <label>{{#str}} course, local_edwiserreports {{/str}}</label>
        <select id="learnercourseprogress-course-select" class="form-control singleselect w-full" name="state">
            {{#courses}}
            <option value="{{id}}">{{fullname}}</option>
            {{/courses}}
        </select>
    </div>
</div>
