<div class="row m-0 p-0">
    <div class="filter-selector position-relative mr-1 me-1 mb-1">
        <label>{{#str}} date, local_edwiserreports {{/str}}</label>
    <button type="button" class="btn dropdown-toggle text-left text-start w-100 learnertimespentonsite-calendar" aria-expanded="false" data-toggle="dropdown" data-bs-toggle="dropdown">
            {{#str}} last7days, local_edwiserreports {{/str}}
        </button>
    </div>
</div>
