<div id="liveusersblock" class="">
    <div class="panel h-auto">
        <div class="panel-header clearfix">
            <div class="panel-title px-0">
                <strong>
                    {{#str}} realtimeusers, report_elucidsitereport {{/str}}
                    <a href="#" class="small"><i class="fa fa-question-circle"></i></a>
                </strong>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead class="bg-secondary">
                  <tr>
                    <th>Full Name</th>
                    <th>Online Since</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Teagan Prohaska</td>
                    <td>1 hour</td>
                    <td>
                      <span class="badge badge-danger">inactive</span>
                    </td>
                  </tr>
                  <tr>
                    <td>Andy Gaylord</td>
                    <td>15 min</td>
                    <td>
                      <span class="badge badge-info">active</span>
                    </td>
                  </tr>
                  <tr>
                    <td>Veronica Gusikowski</td>
                    <td>44 min</td>
                    <td>
                      <span class="badge badge-info">active</span>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>