<table class="table w-full mx-0" style="display: none;">
    <thead class="">
        <tr>
            <th class="border-bottom-0">
                {{#str}} fullname, report_elucidsitereport {{/str}}
            </th>
            <th class="border-bottom-0 text-center">
                {{#str}} onlinesince, report_elucidsitereport {{/str}}
            </th>
            <th class="border-bottom-0 text-center">
                {{#str}} status, report_elucidsitereport {{/str}}
            </th>
        </tr>
    </thead>
</table>