<table class="table border-0 w-full mx-0" style="display: none;">
    <thead class="">
        <tr>
            <th class="border-bottom-0">
                {{#str}} fullname, local_edwiserreports {{/str}}
            </th>
            <th class="border-bottom-0 text-center">
                {{#str}} onlinesince, local_edwiserreports {{/str}}
            </th>
            <th class="border-bottom-0 text-center">
                {{#str}} status, local_edwiserreports {{/str}}
            </th>
        </tr>
    </thead>
</table>
