{{! Leanring Program }}
<table id="wdm-lplist-table" class="table lp-table" style="min-width: 100%;">
    <thead>
        <th class="">
            <span class="checkbox-custom">
                <input type="checkbox" name="selectAllCustom">
                <label class="selectAllCustomReports" for="selectAllCustom"></label>
            </span>
        </th>
        <th class="">
            {{#str}} name , local_edwiserreports {{/str}}
        </th>
        <th class="">
            {{#str}} shortname , local_edwiserreports {{/str}}
        </th>
        <th class="">
            {{#str}} startdate , local_edwiserreports {{/str}}
        </th>
        <th class="">
            {{#str}} enddate , local_edwiserreports {{/str}}
        </th>
        <th class="">
            {{#str}} duration , local_edwiserreports {{/str}}
        </th>
    </thead>
    <tbody></tbody>
</table>
<a id="wdm-lpdetailedreport" class="btn btn-secondary mt-10 pull-right" style="display: none;">
    {{#str}} exportlpdetailedreport, local_edwiserreports {{/str}}
</a>
<form id="wdm-lpdetailedreport-form" action="{{formaction}}" target="_blank" class="hidden" method="post">
    <input type="hidden" name="filters"/>
    <input type="hidden" name="reporttype" value="lpdetailed"/>
    <input type="hidden" name="cohortid" value="{{cohortid}}"/>
</form>
{{#js}}
require(['local_edwiserreports/lpdetailedreport'], function() {
    Breakpoints();
});
{{/js}}
