{{! Leanring Program }}
<table class="table lp-table w-full">
    <thead>
        <th class="bg-secondary">
            <span class="checkbox-custom"><input type="checkbox" name="selectAllCustom"><label class="selectAllCustomReports" for="selectAllCustom"></label></span>
        </th>
        <th class="bg-secondary">
            {{#str}} name , report_elucidsitereport {{/str}}
        </th>
        <th class="bg-secondary">
            {{#str}} shortname , report_elucidsitereport {{/str}}
        </th>
        <th class="bg-secondary">
            {{#str}} startdate , report_elucidsitereport {{/str}}
        </th>
        <th class="bg-secondary">
            {{#str}} enddate , report_elucidsitereport {{/str}}
        </th>
        <th class="bg-secondary">
            {{#str}} duration , report_elucidsitereport {{/str}}
        </th>
    </thead>
    <tbody></tbody>
</table>