<div class="report-header row m-0">
    <div class="page-title col-6 pl-0 text-left">
        <h2 class="theme-1-color">{{{pageheader}}}</h2>
    </div>
    <div class="back-url col-6 pr-0 text-right">
        <a href="{{backurl}}" class="btn bg-white theme-primary-text theme-primary-border">{{#str}} back {{/str}}</a>
    </div>
</div>
