<div class="row m-0 p-0">
    <div class="filter-selector mx-1">
        <select id="timespentonsite-student-select" class="form-control singleselect w-full" name="state">
            {{#students}}
            <option value="{{id}}">{{fullname}}</option>
            {{/students}}
        </select>
    </div>
</div>
