<div class="row">
    <div class="filter-selector col-12 col-md-6 mb-1">
        <label>{{#str}} user, local_edwiserreports {{/str}}</label>
        <select id="timespentonsite-student-select" class="form-control singleselect w-full" name="state">
            {{#students}}
            <option value="{{id}}">{{fullname}}</option>
            {{/students}}
        </select>
    </div>
</div>
