<div class="row">
    <div class="filter-selector col-12 col-md-6 mb-1">
        <select id="timespentoncourse-course-select" class="form-control singleselect w-full" name="state">
            {{#courses}}
            <option value="{{id}}">{{fullname}}</option>
            {{/courses}}
        </select>
    </div>
    <div class="filter-selector col-12 col-md-6 mb-1">
        <select id="timespentoncourse-student-select" class="form-control singleselect w-full" name="state">
            {{#students}}
            <option value="{{id}}">{{fullname}}</option>
            {{/students}}
        </select>
    </div>
</div>
