<div id="todaysactivityblock" class="panel h-auto">
    <div class="panel-header px-0">
        <div class="panel-title px-0 col-lg-8 col-md-6 col-sm-12">
            <strong>
                {{#str}} todaysactivityheader, report_elucidsitereport {{/str}}
                <a href="#" class="small"><i class="fa fa-question-circle"></i></a>
            </strong>
        </div>
    </div>
    <div class="panel-body p-0 mt-10">
        <div class="card card-inverse card-shadow bg-primary" id="widgetSaleBar">
            <div class="card-block p-0">
                <div class="pt-25 px-30">
                    <div class="row no-space">
                        <div class="col-4 pr-10">
                            <div class="bold mb-5">
                                {{#str}} todayslogin, report_elucidsitereport {{/str}}
                            </div>
                            <div class="row mx-0 text-center pb-10">
                                <div class="col-12 bg-primary mb-10 py-10" style="filter: contrast(1.3);">
                                    <div id="todays-onlinelearners" class="font-size-30 font-weight-600 w-full">0</div>
                                    <small>
                                        {{#str}} learners, report_elucidsitereport {{/str}}
                                    </small>
                                </div>
                                <div class="col-12 bg-primary mb-10 py-10" style="filter: contrast(1.3);">
                                    <div id="todays-onlineteachers" class="font-size-30 font-weight-600 w-full">0</div>
                                    <small>
                                        {{#str}} teachers, report_elucidsitereport {{/str}}
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col-8 pl-10">
                            <table class="summary w-full">
                                <thead class="border-bottom">
                                    <tr>
                                        <th class="text-left">
                                            {{#str}} eventtoday, report_elucidsitereport {{/str}}
                                        </th>
                                        <th class="text-right ">
                                            {{#str}} value, report_elucidsitereport {{/str}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td align="left">
                                            {{#str}} enrollment, report_elucidsitereport {{/str}}
                                        </td>
                                        <td align="right" id="todays-enrollments">0</td>
                                    </tr>
                                    <tr>
                                        <td align="left">
                                            {{#str}} activitycompletion, report_elucidsitereport {{/str}}
                                        </td>
                                        <td align="right" id="todays-activitycompletions">0</td>
                                    </tr>
                                    <tr>
                                        <td align="left">
                                            {{#str}} coursecompletion, report_elucidsitereport {{/str}}
                                        </td>
                                        <td align="right" id="todays-coursecompletions">0</td>
                                    </tr>
                                    <tr>
                                        <td align="left">
                                            {{#str}} newregistration, report_elucidsitereport {{/str}}
                                        </td>
                                        <td align="right" id="todays-registrations">0</td>
                                    </tr>
                                    <tr>
                                        <td align="left">
                                            {{#str}} visits, report_elucidsitereport {{/str}}
                                        </td>
                                        <td align="right" id="todays-visits">0</td>
                                    </tr>
                                    <tr class="d-none">
                                        <td align="left">
                                            {{#str}} timespent, report_elucidsitereport {{/str}}
                                        </td>
                                        <td align="right" id="todays-timespend">00:00:00</td>
                                    </tr>
                                    <!-- <tr>
                                        <td align="left">
                                            {{#str}} sessions, report_elucidsitereport {{/str}}
                                        </td>
                                        <td align="right" id="todays-sessions">0</td>
                                    </tr> -->
                                    <tr class="border-top bold">
                                        <td align="left">
                                            {{#str}} totalusers, report_elucidsitereport {{/str}}
                                        </td>
                                        <td align="right" id="todays-totalusers">0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="visual mb-30 px-30">
                    <p class="visual-head bold">
                        {{#str}} pageview, report_elucidsitereport {{/str}}
                    </p>
                    <div class="visual-body">
                        <canvas class="ct-chart py-5" style="max-height: 100px"></canvas>
                        <div class="w-full bg-white" style="height: 1px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>